extends layout

block content
	script(src="/javascripts/accountFunctions.js")
	script.
		var username = !{JSON.stringify(user.name)};

	div(id="successAlert" class="alert alert-success" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Confirmation message has been sent to your email
	div(id="failAlert" class="alert alert-danger" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Something went wrong, please reload the page

	div(class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="bindEmailLabel" aria-hidden="true")
		div(class="modal-dialog" role="document")
			div(class="modal-content")
				div(class="modal-header")
					h5(class="modal-title" id="bindEmailLabel") Link email
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span( aria-hidden="true") &times;
				div(class="modal-body")
					p A confirmation message will be sent to your email. Please open the link in it to verify the email address.
					form
						div(class='form-group')
							label(for="email") Email
							input(class='form-control' type="email" id="email" name="email")
						div(class='form-group')
							label(for="password") Karasu OS password
							input(class='form-control' type="password" id="password" name="password")
				div(class="modal-footer")
					button(type="button" class="btn btn-secondary text-light" id="sendVerification") Send verification message

	div(class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true")
		div(class="modal-dialog" role="document")
			div(class="modal-content")
				div(class="modal-header")
					h5(class="modal-title" id="changePasswordLabel") Change Password
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span( aria-hidden="true") &times;
				div(class="modal-body")
					form
						div(class='form-group')
							label(for="oldPassword") Old password
							input(class='form-control' type="password" id="oldPassword" name="oldPassword")
						div(class='form-group')
							label(for="newPassword") New password
							input(class='form-control' type="password" id="newPassword" name="newPassword")
						div(class='form-group')
							label(for="newPasswordConfirm") Confirm new password
							input(class='form-control' type="password" id="newPasswordConfirm" name="newPasswordConfirm")
				div(class="modal-footer")
					button(type="button" class="btn btn-secondary text-light" id="changePassword") Update password

	div(class="container")
		div(class="row justify-content-center mb-3")
			h2(class="col-lg-10 text-center py-2") #{user.name}'s Settings
			div(class="card shadow col-lg-10")
				div(class="card-body col-lg-6 mx-auto mb-3")

					if user.email
						- var emailStatus = user.email
						- var buttonText = "Change email"
						- var emailMsg = "This is the email that will receive instructions for password recovery."
					else
						- var emailStatus = "No emails linked"
						- var buttonText = "Link email"
						- var emailMsg = "To enable password recovery, link your email address."

					h5.card-title Account
					div.col-12
						p.card-text.mb-2 Email
							if !user.email
								span(class="badge badge-pill badge-warning ml-1") !
						p.card-text.text-muted= emailMsg
						div.input-group.mb-3
							input(type="text" readonly class="form-control rounded mr-2" id="staticEmail" value=emailStatus)
							div(class="input-group-append")
								button(class="btn btn-primary rounded-pill" id="setEmail" data-toggle="modal" data-target="#emailModal")= buttonText
						p.card-text Password -
							|
							|
							a(id="#setPassword" href="#" data-toggle="modal" data-target="#passwordModal") Change Password
					br
					h5.card-title Supporter Perks
					div.col-12
						div(class="custom-control custom-switch")
							input(type="checkbox" class="custom-control-input" id="adFreeStatus" checked=(user.supportStatus.includes("adfree")?true:false) disabled)
							label(class="custom-control-label" for="adFreeStatus") Ad-free Status
						br
					if !user.supportStatus.includes("adfree")
						div.card.card-body.text-light.text-center(style="border-radius:8px;background-color:#8d6fe2;")
							h5.card-title.mb-0 Become a Supporter
							img(src="/images/karasu.png" alt="karasu icon" style="width:32px;height:32px;margin:10px auto;")
							p.card-text Make a donation now to browser Karasu-OS.com ad-free and receive a special badge to display on your profile! <br>
								a(id="donation" class="btn bg-light text-primary my-3" href="https://www.buymeacoffee.com/karasuos" role="button" target="_blank") Become a Supporter
	style.
		#donation:hover {
			background-color: white !important;
		}
		#adFreeStatus.custom-control-input:checked ~ .custom-control-label::before {
			border-color: var(--success);
			background-color: var(--success);
		}
