extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/calculator.css")
	link(rel="stylesheet" href="/stylesheets/event.css")

	script.
		var event = !{JSON.stringify(event)};

block content
	.container
		h1.text-dark(style="border:0;margin-bottom:0;padding-top:1rem;text-align:center;") Pop Quiz Calculator
		p.text-center(style="margin-bottom:2rem;")
			i On-going Pop Quiz Title

		// Calculator
		// if /*event.type === "Lonely Devil" ||*/ (event.type === "Pop Quiz" && (event.start <= new Date() && event.end >= new Date()))
		.row
			.col-12.col-lg-4
				.card.shadow(style="border-radius:8px;")
					div.card-body
						p.text-center.text-primary(style="letter-spacing:.25rem;")
							strong CALCULATOR
						form
							h6 Required
							div.form-group
								//- (style="border-radius:8px;border:1px solid var(--primary);padding:1.5rem 0;transform:translateY(-18px);")
								label(for="pointsPerBattle") Points per battle
								//- min=120 for now, need to change based on event type
								input#pointsPerBattle.form-control(type="number" name="pointsPerBattle" min="120" value=query.pointsPerBattle required)
							div.form-group
									label(for="currentPoints") Current points
									input#currentPoints.form-control(type="number" name="currentPoints" min="0" value=query.currentPoints required)
							h6 Optional
							div.form-group
								//- (style="border-radius:8px;border:1px solid var(--secondary);padding:1.5rem 0;transform:translateY(-18px);")
								label(for="customGoal") Custom goal
								input#customGoal.form-control(type="number" name="customGoal" min="0" value=query.customGoal)
							div.form-group
								//-
									span.small.text-muted.text-nowrap.text-center Cleared 20 stages today
									input.custom-range#stagesCleared(type="range" aria-label="Stages cleared today" min=0 max=event.stages * 3 + 5)
								label(for="stagesCleared") Cleared
									input.form-control.form-control-sm.mx-2(type="number" name="stagesCleared" min="0" value=query.stagesCleared?query.stagesCleared:0 style="display:inline;width:36px;")
									| stages today
								//- max=event.stages * 3 + 5 ??? what's the +5?
								input.custom-range(type="range" min="0" max="10" value=query.stagesCleared?query.stagesCleared:0)

							input.btn.btn-primary.btn-block(type="submit" value="Calculate!")

						.mt-3.mb-4.small
							.text-muted The calculation assumes you use the free AP to the maximum extent, which includes:
							ul.text-muted
								li All recovered AP (1 in 5 minutes)
								li 50 from friends
								li Fridge mission twice a day (not VIP)
								li 50 from ads
								li 20 from surprise guest
								li 20 from To Do tasks


			.col-12.col-lg-8
				.card.shadow.border-secondary.rounded
					p.bg-secondary.text-white(style="background:var(--secondary);border-radius:8px;margin:.75rem;padding:.25rem;text-align:center;") Rewards
					div.card-body.pt-0
						//-
							.row.reward-selector
								each reward in event.rewards.reverse()
									if reward.tag
										.d-block.col-2.mx-auto
											//input(id="reward_"+reward.tag.replace(" ", "_") type="radio" value=reward.tag.replace(" ", "_"))
											//label.text-center.m-0.text-decoration-none(for="reward_"+reward.tag.replace(" ", "_"))
												img.img-fluid.d-flex.w-100(src="/images/cards/S/" + reward.card.uniqueName + ".jpg" style="max-width: 110px")
												figcaption.mt-1.mb-0.text-dark.text-nowrap
													.my-0.h6= reward.tag
													.my-0= reward.points.toLocaleString()
											button.btn.text-center.m-0.text-decoration-none.reward-button.pt-3(data-toggle="button")
												img.img-fluid.d-flex.w-100(src="/images/cards/S/" + reward.card.uniqueName + ".jpg" style="max-width: 110px")
												figcaption.mt-1.text-nowrap.mb-0
													.my-0.h6= reward.tag
													.my-0= reward.points.toLocaleString()

						ul.nav.justify-content-around
							each reward in event.rewards.reverse()
								if reward.tag
									li.nav-item
										a.nav-link(href="#")
											div.mx-auto.mb-1(style="width:4.5rem;height:4.5rem;")
												img.img-fluid(src="/images/cards/S/" + "The_Mammon_Way" + ".jpg")
											figcaption.text-dark.text-center= reward.tag
												br
												| #{reward.points.toLocaleString()}
							li.nav-item
								a.nav-link(href="#")
									div.mx-auto.mb-1.p-3(style="width:4.5rem;height:4.5rem;")
										//- temporary
										img.img-fluid(src="/images/Twitter.png")
									figcaption.text-center Custom
										br
										| temp img

						//- .mr-auto.bg-secondary.text-white.p-1.px-2(style="border-bottom-right-radius:4px") Calculation results
						//- hr
						// TODO item support
						each reward in [event.rewards[0]]
							if reward.tag
								.row.p-4
									.col-lg-5.px-4
										//img.img-fluid(src=`/images/cards/L/${reward.card.uniqueName}.jpg`)
										//.text-center.mt-2 #{reward.card.name}
										img.img-fluid(src=`/images/cards/L/The_Mammon_Way.jpg`)
										.text-center.mt-2 The Mammon Way
									.col-lg-7
										div(style="position:absolute;display:flex;justify-content:center;font-size:large;transform:translateY(35px);")
											strong To be determined
										div(style="opacity:.25;")
											.mb-4
												.m-0.mb-1.d-flex.align-items-baseline.rounded
													h5.mb-0.text-primary Today
													//small.text-right.ml-1.text-muted (ends in 1h 2m)
												.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/stageIcon.png' style='max-height:1.5em')
													p.m-0 Сlear
														|
														|
														span(style="font-weight:600") all
														|
														| stages +
														|
														span(style="font-weight:600") 45
														|
														| extra battles
												.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 Spend
														|
														|
														span(style="font-weight:600") #{(1000).toLocaleString()}
														|
														| AP (
														span(style="font-weight:600") ~#{(250).toLocaleString()}
														|
														| AP needs to be bought)
												.ml-3.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 Reach
														|
														|
														span(style="font-weight:600") #{(89000).toLocaleString()}
														|
														| points

											.pt-2.rounded
												h5.m-0.text-primary Summary
											.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 Win
														|
														|
														span(style="font-weight:600") #{(4000).toLocaleString()}
														|
														| battles in total, which will take
														|
														span(style="font-weight:600") #{(32000).toLocaleString()}
														|
														| AP
											button.text-muted.btn.btn-sm(type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample") Details v
											.collapse.mt-2#collapseExample
												.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 You can get up to
														|
														|
														span(style="font-weight:600") #{(9000).toLocaleString()}
														|
														| points every day without resetting stages
												.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 Which results in
														|
														|
														span(style="font-weight:600") #{(150000).toLocaleString()}
														|
														| points total
												.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 To get the reward, you need to use DP or D-Energy for additional
														|
														|
														span(style="font-weight:600") #{(1000).toLocaleString()}
														|
														| battles
												.ml-3.mb-1.d-flex.align-items-start
													img.img-fluid.mr-1(src='/images/battle_star.png' style='max-height:1.5em')
													p.m-0 If you use AP to the maximum extent, you need to get
														|
														|
														span(style="font-weight:600") #{(15000).toLocaleString()}
														|
														| AP with DP or from long-term To Do rewards, Devil's Tree, levelling up, mail gifts and log-in rewards
											.progress.mt-3(style="height:9px;")
												.progress-bar(style="width:10%;height:9px;background-color:#FFC300;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
											.d-flex.justify-content-between
												small Ending in
												small 10 days
											.progress.mt-3(style="height:9px;")
												.progress-bar(style="width:85%;height:9px;background-color:var(--success);" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
											.d-flex.justify-content-between
												small 85%
												small #{(175000).toLocaleString()} pts
		p
			pre !{JSON.stringify(result, null, 4)}
