extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/calculator.css")
	script(src="/javascripts/calculator.js")

	script.
		startCountdown(!{JSON.stringify(event.end)})
		var event = !{JSON.stringify(event)};
		console.log(!{JSON.stringify(event)});


block content
	-
		function getValue(i) {
			if (typeof i !== "number") return "???";
			return i.toLocaleString("en");
		}

		function getDaysLeft(d) {
			var today = new Date();
			return Math.floor((d - today) / (1000 * 60 * 60 * 24));
		}

		function getDaysLeftPercentage(start, end) {
			var duration = Math.floor((end - start) / (1000 * 60 * 60 * 24));
			var daysPast = duration - getDaysLeft(end);
			return Math.floor(daysPast / duration * 100);
		}

		// if item is first in list and no custom goal, select first tab.
		function selectsTab(isFirstInList, reward_name) {
			// if custom in list
			if (event.rewards.filter(x=>x.tag==="Custom").length !== 0) {
				// and reward is not custom
				if (reward_name !== "Custom") return false;
				return true;
			}
			// if custom not in list
			if (isFirstInList) return true;
			return false;
		}

	.container
		h1(style="border:0;margin-bottom:0;padding-top:1rem;text-align:center;") Pop Quiz Calculator
		p.text-center(style="margin-bottom:2rem;")
			i On-going Pop Quiz Title

		// if (event.start <= new Date() && event.end >= new Date()))
		- var today = new Date();
		.row
			.col-12.col-lg-4.mb-3
				.card.shadow.h-100(style="border-radius:8px;")
					div.card-body(style="display:flex;flex-wrap:wrap;justify-content:center;")
						div
							p.text-center.text-primary(style="letter-spacing:.25rem;")
								strong CALCULATOR
							form.mb-3
								h6 Required
								div.form-group
									label(for="pointsPerBattle") Points per battle
									// min=120 for now, need to change based on event type
									input#pointsPerBattle.form-control(type="number" name="pointsPerBattle" min="120" value=query.pointsPerBattle required)
								div.form-group
									label(for="currentPoints") Current points
									input#currentPoints.form-control(type="number" name="currentPoints" min="0" value=query.currentPoints required)
								h6 Optional
								div.form-group
									label(for="customGoal") Custom goal
									input#customGoal.form-control(type="number" name="customGoal" min="0" value=query.customGoal)
								div.form-group
									label(for="stagesCleared") Cleared
										input#stagesCleared.form-control.form-control-sm.mx-2(type="number" name="stagesCleared" min="0" max=event.stages value=query.stagesCleared?query.stagesCleared:0 style="display:inline;width:4rem;")
										| stages today
									input.custom-range(type="range" min="0" max=event.stages value=query.stagesCleared?query.stagesCleared:0)
								input.btn.btn-primary.btn-block(type="submit" value="Calculate!")
						div
							small.text-muted This calculator will assist you, please also use your own judgement to manage your spending in events.

			.col-12.col-lg-8.mb-3
				.card.shadow.rounded.h-100
					div.card-body
						p.text-center.text-primary(style="letter-spacing:.25rem;")
							strong REWARDS
						hr(style="border-color:var(--secondary);border-width:2px;")
						ul#rewards.nav.justify-content-around.mb-3
							each reward in event.rewards
								if reward.tag
									li.nav-item
										a.nav-link(id=reward.tag.replace(" ", "")+"-tab" href=("#"+reward.tag.replace(" ", "")) data-toggle="tab" role="tab" aria-controls=reward.tag.replace(" ", ""))
											div.mx-auto.mb-1(style="width:4.5rem;height:4.5rem;")
												if reward.card
													img.img-fluid(src=`/images/cards/S/${reward.card.uniqueName.replace(/ /g, '_')}.jpg`)
												else
													img.img-fluid(src=`/images/${reward.tag.toLowerCase()}.png` onerror="this.src='/images/defaultReward.png';this.onerror=null;")
											figcaption.text-dark.text-center= reward.tag
												br
												| #{reward.points.toLocaleString("en")}
						div.tab-content
							- var lst = result?result:event.rewards;
							- var count = 0;  // best practise? not so sure.
							each res in lst.filter(x => x.tag)
								div.tab-pane(id=res.tag.replace(" ", "") role="tabpanel")
									div.row.px-lg-3
										.col-lg-5.px-4
											//img.img-fluid(src=`/images/cards/L/${reward.card.uniqueName}.jpg`)
											//.text-center.mt-2 #{reward.card.name}
											a(href="/")
												img.img-fluid(src=`/images/cards/L/The_Mammon_Way.jpg`)
												figcaption.text-center.mt-2 The Mammon Way
										div.col-lg-7
											if res.collected
												div(style="position:absolute;display:flex;justify-content:center;align-items:center;background:rgba(255,255,255,.75);width:100%;height:100%;z-index:1;margin-left:-15px;")
													img(src="/images/completed.png" style="width:75%;")
											ul#results.nav.mb-3
												li.nav-item
													a.nav-link.active(id=res.tag.replace(" ", "")+"-today-tab" href="#"+res.tag.replace(" ", "")+"-today" data-toggle="tab" role="tab" aria-controls=res.tag.replace(" ", "")+"-today" aria-selected="true") Today
												li.nav-item
													a.nav-link(id=res.tag.replace(" ", "")+"-summary-tab" href="#"+res.tag.replace(" ", "")+"-summary" data-toggle="tab" role="tab" aria-controls=res.tag.replace(" ", "")+"-summary" aria-selected="false") Summary
											div.tab-content
												div.tab-pane(id=res.tag.replace(" ", "")+"-today" class="show active" role="tabpanel")
													div.row.mx-0.mb-3
														div.col-6.pl-0.pr-1
															div.battles_calculation
																p Battles
																div.p-3
																	div
																		span Free
																		span= getValue(res.todayBattlesFree)
																	div
																		span Buy
																		span= getValue(res.todayBattlesToBuy)
																	hr.my-2(style="border-color:var(--primary);")
																	div
																		span Total
																		span= getValue(res.todayBattlesTotal)
														div.col-6.pl-1.pr-0
															div.ap_calculation
																p AP
																div.p-3
																	div
																		span Free
																		span= getValue(res.todayApFree)
																	div
																		span Buy
																		span= getValue(res.todayApToBuy)
																	hr.my-2(style="border-color:var(--primary);")
																	div
																		span Total
																		span= getValue(res.todayApTotal)
													div.text-center
														p.mt-3.mb-0 Today's Goal:
														p(style="font-size:large")= getValue(res.goalToday)
														p.mb-0(style="font-size:large") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock mr-1" viewBox="0 0 16 16">   <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>   <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/> </svg>
															span.countdown
												// if !res.collected
												div.tab-pane(id=res.tag.replace(" ", "")+"-summary" role="tabpanel")
													div.row.m-0
														div.col-6.pl-0.pr-1
															div.battles_calculation
																p Battles
																div.p-3
																	div
																		span Free
																		span= getValue(res.totalBattlesFree)
																	div
																		span Buy
																		span= getValue(res.totalBattlesToBuy)
																	hr.my-2(style="border-color:var(--primary);")
																	div
																		span Total
																		span= getValue(res.totalBattlesTotal)
														div.col-6.pl-1.pr-0
															div.ap_calculation
																p AP
																div.p-3
																	div
																		span Free
																		span= getValue(res.totalApFree)
																	div
																		span Buy
																		span= getValue(res.totalApToBuy)
																	hr.my-2(style="border-color:var(--primary);")
																	div
																		span Total
																		span= getValue(res.totalApTotal)
													- var reward_cost = event.rewards[count++].points;
													.progress.mt-3(style="height:9px;")
														.progress-bar(style="width:"+getDaysLeftPercentage(event.start, event.end)+"%;height:9px;background-color:#ffbd8a;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
													.d-flex.justify-content-between
														small Ending in
														- var daysLeft = getDaysLeft(event.end);
														small= daysLeft > 1 ? daysLeft + " days" : "< " + daysLeft + " day"
													.progress.mt-3(style="height:9px;")
														.progress-bar(style="width:"+Math.floor(query.currentPoints/reward_cost*100)+"%;height:9px;background-color:#9fec3e;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
													.d-flex.justify-content-between
														small= (query.currentPoints ? Math.floor(query.currentPoints/reward_cost*100) : 0) + "%"
														small #{(reward_cost).toLocaleString("en")} pts
		div.row.mt-3
			div.col-lg-8
				div.card.card-body.shadow
						h5.text-center.mb-3 Additional Info
						div.row.m-0.text-center
							div.col-6
								div.p-2.h-100(style="border-radius:16px;border:3px solid var(--info);")
									p(style="font-size:large;") Free battles
									| 3 clears per stage
									br
									| 5 clears from watching ads
							div.col-6
								div.p-2(style="border-radius:16px;border:3px solid var(--info);")
									p(style="font-size:large;") Free AP
									ul(style="list-style:none;padding:0;")
										li All recovered AP (1 in 5 minutes)
										li 50 from friends
										li Fridge mission x2 (not VIP)
										li 50 from ads
										li 20 from surprise guest
										li 20 from To Do tasks
										li All AP from reward list (?)
			div.col-lg-4
				div.card.card-body.shadow.h-100
					div.d-flex.justify-content-center.align-items-center.h-100
						div.text-center
							span More tools
							h5.text-primary Coming soon...
