extends layout

mixin percentBar(owned, total, name)
  - const colours = {Lucifer:"#64B5F6", Mammon:"#FFF176", Leviathan:"#FF8A65", Satan:"#AED581", Asmodeus:"#F06292", Beelzebub:"#EF5350", Belphegor:"#9575CD", Diavolo:"#b01f15", Barbatos:"#7bedc5", Luke:"#f0d471", Simeon:"#b89087", Solomon:"#d1d1d1", "Little D":"#1c1c1c", N:"#d1d1d1", R:"#ed86ac", SR:"#aea4e8", SSR:"#ffe16b", UR:"#ffe16b", URp:"#ffe16b"};
  - function roundPercentage(percentage) {if (percentage >= 1 && percentage <= 99) { percentage = Math.round(percentage); } else { percentage = +percentage.toFixed(2); } return percentage;}
  -function test(p) {return p;}
  - var percentage = roundPercentage(owned / total * 100);
  span= name
  small(style='display:inline-flex;') &nbsp;- #{owned} of #{total} (#{percentage}%)
    if percentage >= 100
      | &nbsp;
      img(src='/images/completion_star.png' style='height: 1.5em; width: auto;')
  div.progress.mb-1
    div(id="bar"+name.replace('+', 'p') class="progress-bar" role="progressbar" style={width: percentage + '%', background: colours[name.replace('+', 'p')]} aria-valuenow=percentage aria-valuemin="0" aria-valuemax="100")
      if name==='UR+'
        div(id='barAnimated')
          div(id="barCover"+name.replace('+', 'p') style={width: (100 - percentage) + '%'})
      if name==='UR'
        div(id="barCover"+name.replace('+', 'p') style={width: (100 - percentage) + '%'})

block content
  div(id="successAlert" class="alert alert-success" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Collection modified successfully
  div(id="failAlert" class="alert alert-danger" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Something went wrong, please reload the page

  //- support karasu toast
  div(class="modal fade" id="openLink" tabindex="-1" role="dialog" aria-labelledby="openShareLink" aria-hidden="true" style="padding-top:128px;")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="openShareLink") Share
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        div(class="modal-body mb-2")
          div.input-group
            input(type="text" id="userLink" class="form-control" aria-label="user's collection link" aria-describedby="user link")
            div.input-group-append
              button#copyLink.btn.btn-primary.rounded Copy

  div(class="container")
    //- Page Heading
    div(class="row text-left mb-3")
      div(class="col-12")
        h1(class="text-primary pb-2" style="border-bottom: 2px solid; border-color: #8d6fe2;")= title

    //- Collection Stats
    if path === "collection"
      - function roundPercentage(percentage) {if (percentage > 1) { percentage = Math.round(percentage); } else { percentage = Math.round(percentage * 10) / 10; } return percentage;}
      div.card.rounded.shadow.mb-3
        div.card-body
          div.row
            div.col-12.col-lg-4.container.text-center
              div.row.px-4.h-100.align-items-center.d-flex
                div.col-6.d-flex.flex-column.justify-content-center.h-100
                  div.d-flex.align-items-center.justify-content-center.cardTextWrapper
                    div.lead.text-primary.d-none.d-sm-block Demon cards
                    div.text-primary.d-block.d-sm-none Demon cards
                  - var demonPercentage = roundPercentage(cardStats.cards.Demon[0] / cardStats.cards.Demon[1] * 100);
                  div(style='position: relative')
                    img.img-fluid.p-2.mx-auto(src='/images/demon_card.png' style='max-width: 120px; width:100%;')
                    div(style={position: 'absolute', top: '0%', left: '0%', height: 100 - demonPercentage + '%', width: '100%', background: 'white', 'mix-blend-mode': 'saturation'})
                  div.d-none.d-sm-block #{cardStats.cards.Demon[0]} of #{cardStats.cards.Demon[1]}
                  small.d-block.d-sm-none #{cardStats.cards.Demon[0]} of #{cardStats.cards.Demon[1]}
                  small.text-muted #{demonPercentage}%
                div.col-6.d-flex.flex-column.justify-content-center.h-100
                  div.d-flex.align-items-center.justify-content-center.cardTextWrapper
                    div.lead.text-primary.d-none.d-sm-block Memory cards
                    div.text-primary.d-block.d-sm-none Memory cards
                  - var memoryPercentage = roundPercentage(cardStats.cards.Memory[0] / cardStats.cards.Memory[1] * 100);
                  div(style='position: relative')
                    img.img-fluid.img-max.p-2.mx-auto(src='/images/memory_card.png' style='max-width: 120px; width:100%;')
                    div(style={position: 'absolute', top: '0%', left: '0%', height: 100 - memoryPercentage + '%', width: '100%', background: 'white', 'mix-blend-mode': 'saturation'})
                  div.d-none.d-sm-block #{cardStats.cards.Memory[0]} of #{cardStats.cards.Memory[1]}
                  small.d-block.d-sm-none #{cardStats.cards.Memory[0]} of #{cardStats.cards.Memory[1]}
                  small.text-muted #{memoryPercentage}%
            div.col-12.col-lg-8.mt-3.mt-lg-0
              nav
                div.nav.nav-pills(id='statsNavTab' role='tablist')
                  a.nav-item.nav-link.active(id='charNavTab' data-toggle='tab' href='#charNav' role='tab' aria-controls="charNav" aria-selected="true") Characters
                  a.nav-item.nav-link(id='sideCharNavTab' data-toggle='tab' href='#sideCharNav' role='tab' aria-controls="sideCharNav" aria-selected="true") Side characters
                  a.nav-item.nav-link(id='rarityNavTab' data-toggle='tab' href='#rarityNav' role='tab' aria-controls="rarityNav" aria-selected="true") Rarity
              div.tab-content(id='statsNavContent')
                div.container.tab-pane.fade.px-0.show.active(id='charNav' role='tabpanel' aria-labelledby='charNavTab')
                  div.row
                    div.col-md-6
                      +percentBar(cardStats.characters.Lucifer[0], cardStats.characters.Lucifer[1], "Lucifer")
                      +percentBar(cardStats.characters.Mammon[0], cardStats.characters.Mammon[1], "Mammon")
                      +percentBar(cardStats.characters.Leviathan[0], cardStats.characters.Leviathan[1], "Leviathan")
                      +percentBar(cardStats.characters.Satan[0], cardStats.characters.Satan[1], "Satan")
                    div.col-md-6
                      +percentBar(cardStats.characters.Asmodeus[0], cardStats.characters.Asmodeus[1], "Asmodeus")
                      +percentBar(cardStats.characters.Beelzebub[0], cardStats.characters.Beelzebub[1], "Beelzebub")
                      +percentBar(cardStats.characters.Belphegor[0], cardStats.characters.Belphegor[1], "Belphegor")
                div.container.tab-pane.fade.px-0(id='sideCharNav' role='tabpanel' aria-labelledby='sideCharNavTab')
                  div.row
                    div.col-md-6
                      +percentBar(cardStats.characters.Diavolo[0], cardStats.characters.Diavolo[1], "Diavolo")
                      +percentBar(cardStats.characters.Barbatos[0], cardStats.characters.Barbatos[1], "Barbatos")
                      +percentBar(cardStats.characters.Luke[0], cardStats.characters.Luke[1], "Luke")
                      +percentBar(cardStats.characters.Simeon[0], cardStats.characters.Simeon[1], "Simeon")
                    div.col-md-6
                      +percentBar(cardStats.characters.Solomon[0], cardStats.characters.Solomon[1], "Solomon")
                      +percentBar(cardStats.characters["Little D"][0], cardStats.characters["Little D"][1], "Little D")
                div.container.tab-pane.fade.px-0(id='rarityNav' role='tabpanel' aria-labelledby='rarityNavTab')
                  div.row
                    div.col-md-6
                      +percentBar(cardStats.rarity.N[0], cardStats.rarity.N[1], "N")
                      +percentBar(cardStats.rarity.R[0], cardStats.rarity.R[1], "R")
                      +percentBar(cardStats.rarity.SR[0], cardStats.rarity.SR[1], "SR")
                      +percentBar(cardStats.rarity.SSR[0], cardStats.rarity.SSR[1], "SSR")
                    div.col-md-6
                      +percentBar(cardStats.rarity.UR[0], cardStats.rarity.UR[1], "UR")
                      +percentBar(cardStats.rarity.URp[0], cardStats.rarity.URp[1], "UR+")
              div.small.text-muted.mt-3 Percentage is calculated based on the entire collection (both demon and memory cards).
          hr
          p.text-center.text-muted.mb-0(style="opacity:64%;") More features coming!

    //- Card Navigation
    div(class="card sticky-top sticky-offset mb-3 shadow rounded")
      div(class="card-body d-flex justify-content-around flex-wrap p-3" id="actionButtons")
        div(class="d-flex mb-2 mb-lg-0" + (user && path === "list" || title === "My Collection" ? " mr-lg-auto" : ""))
          button(class="btn btn-md text-secondary py-0 mb-0" id="gotoDemon" href="#demonCards")
            span(class="d-none d-sm-block") Go to Demon Cards
            span(class="d-sm-none") Demon
          div(style="border-left: 3px solid; border-color: #db9efb; opacity: 50%; border-radius: 1rem")
          button(class="btn btn-md text-secondary py-0 mb-0" id="gotoMemory" href="#memoryCards")
            span(class="d-none d-sm-block") Go to Memory Cards
            span(class="d-sm-none") Memory
        div(class='d-lg-none' style='flex-basis: 100%; height: 0;')
        div(class="btn-group d-none mr-2" id="selectionButtons")
          button(class="btn btn-secondary text-white mb-md-0" id="deselectAll") Deselect all
          button(class="btn btn-secondary text-white mb-md-0" id="selectAll") Select all
        div(class="btn-group d-none" id="manageButtons")
          button(class="btn btn-primary mb-md-0" id="cancelManaging") Cancel
          button(class="btn btn-primary mb-md-0" id="saveManaging") Save
        if user
          if path === "list"
            button(class="btn btn-primary btn-md mb-0" id="manageCollection") Manage Collection
          else if title === "My Collection"
            button(type="button" id="shareCollection" class="btn btn-primary" data-toggle="modal" data-target="#openLink") Share My Collection!

    div(id="searchBar" class="row text-left mb-3")
      div(class="col-12")
        div(class="card shadow rounded")
          div(class="card-body d-flex flex-wrap justify-content-around p-3")
            form(id="searchForm" class="flex-grow-1 mr-sm-3 mb-2 mb-md-0")
              div(class="input-group")
                input(type="text" class="form-control text-primary rounded-pill" id="nameFilter" placeholder="Search for card name..." style = "border: 0px;")
                span(class="input-group-append")
                  div(class="input-group-text border-0 bg-transparent" style="z-index: 3; margin: -36px")
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/></svg>
            div(class="mx-auto")
              button(id="expandFilters" class="btn btn-primary bg-secondary border-secondary text-white btn-sm rounded-pill mr-2 mb-0" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters" style="width: 100px") Filters
              button(id="resetFilters" class="btn btn-primary btn-sm rounded-pill ml-2 mb-0") Reset filters
    div(id="filters" class="row text-left collapse")
      div.col-12.col-md-6.pr-md-1.mb-2
        div(id="rarityFilter" class="card mb-2 shadow rounded" style="border-left: 4px solid #8B9AF0;")
          div(class="card-header pb-0") Rarity
          div(class="card-body")
            form(id="rarityForm")
              div(class="container")
                div(class="row")
                  div(class="custom-control custom-radio mr-3 col-1")
                    input(type="radio" class="custom-control-input" id="checkRarityAll" name="All")
                    label(class="custom-control-label" for="checkRarityAll") All
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityN" name="N")
                    label(class="custom-control-label" for="checkRarityN") N
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityR" name="R")
                    label(class="custom-control-label" for="checkRarityR") R
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRaritySR" name="SR")
                    label(class="custom-control-label" for="checkRaritySR") SR
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRaritySSR" name="SSR")
                    label(class="custom-control-label" for="checkRaritySSR") SSR
                  div(class="custom-control custom-checkbox mr-3 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityUR" name="UR")
                    label(class="custom-control-label" for="checkRarityUR") UR
                  div(class="custom-control custom-checkbox col-1")
                    input(type="checkbox" class="custom-control-input" id="checkRarityUR+" name="URp")
                    label(class="custom-control-label" for="checkRarityUR+") UR+
        div(id="attributeFilter" class="card shadow rounded" style="border-left: 4px solid #F06292;")
          div(class="card-header pb-0") Attribute
          div(class="card-body")
            form(id="attributeForm")
              div(class="container")
                div(class="row")
                  div(class="custom-control custom-radio mr-5 ml-1 col-1")
                    input(type="radio" class="custom-control-input" id="checkAttributeAll" name="All")
                    label(class="custom-control-label" for="checkAttributeAll") All
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributePride" name="Pride")
                    label(class="custom-control-label" for="checkAttributePride") Pride
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeGreed" name="Greed")
                    label(class="custom-control-label" for="checkAttributeGreed") Greed
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeEnvy" name="Envy")
                    label(class="custom-control-label" for="checkAttributeEnvy") Envy
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeWrath" name="Wrath")
                    label(class="custom-control-label" for="checkAttributeWrath") Wrath
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeLust" name="Lust")
                    label(class="custom-control-label" for="checkAttributeLust") Lust
                  div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeGluttony" name="Gluttony")
                    label(class="custom-control-label" for="checkAttributeGluttony") Gluttony
                  div(class="custom-control custom-checkbox ml-1 col-1")
                    input(type="checkbox" class="custom-control-input" id="checkAttributeSloth" name="Sloth")
                    label(class="custom-control-label" for="checkAttributeSloth") Sloth
      div.col-12.col-md-6.pl-md-1.mb-2
        div(id="characterFilter" class="card shadow rounded h-100" style="border-left: 4px solid #C297EC;")
          div(class="card-header") Character
          div(class="card-body")
            form(id="characterForm")
              div(class="container pl-0")
                div(class="row")
                  div(class="custom-control custom-radio mr-5 ml-3 col-2")
                    input(type="radio" class="custom-control-input" id="checkCharacterAll" name="All")
                    label(class="custom-control-label" for="checkCharacterAll") All
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLucifer" name="Lucifer")
                    label(class="custom-control-label" for="checkCharacterLucifer") Lucifer
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterMammon" name="Mammon")
                    label(class="custom-control-label" for="checkCharacterMammon") Mammon
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLeviathan" name="Leviathan")
                    label(class="custom-control-label" for="checkCharacterLeviathan") Leviathan
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterSatan" name="Satan")
                    label(class="custom-control-label" for="checkCharacterSatan") Satan
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterAsmodeus" name="Asmodeus")
                    label(class="custom-control-label" for="checkCharacterAsmodeus") Asmodeus
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterBeelzebub" name="Beelzebub")
                    label(class="custom-control-label" for="checkCharacterBeelzebub") Beelzebub
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterBelphegor" name="Belphegor")
                    label(class="custom-control-label" for="checkCharacterBelphegor") Belphegor
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterDiavolo" name="Diavolo")
                    label(class="custom-control-label" for="checkCharacterDiavolo") Diavolo
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterBarbatos" name="Barbatos")
                    label(class="custom-control-label" for="checkCharacterBarbatos") Barbatos
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterSimeon" name="Simeon")
                    label(class="custom-control-label" for="checkCharacterSimeon") Simeon
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLuke" name="Luke")
                    label(class="custom-control-label" for="checkCharacterLuke") Luke
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterSolomon" name="Solomon")
                    label(class="custom-control-label" for="checkCharacterSolomon") Solomon
                  div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                    input(type="checkbox" class="custom-control-input" id="checkCharacterLittleD" name="LittleD")
                    label(class="custom-control-label" for="checkCharacterLittleD" style="min-width: 75px;") Little D

    div(class="row text-left mt-4" id="demonCards")
      div(class="col-12")
        h3(class="text-dark collapser" data-toggle="collapse" href="#demonWrapper" role="button" aria-expanded="true" aria-controls="demonWrapper") Demon Cards
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
    div(class='collapse show' id='demonWrapper')
      div(class="row d-flex justify-content-between mx-auto" id="demonSection" style="padding:0 8px;")
        if cardsList.filter(card => card.type == "Demon").length != 0
          each card in cardsList
            if card.type == "Demon"
              a(class="text-center mb-2 h-100 cardPreview "+card.rarity.replace("UR+", "URp")+" "+card.attribute+" "+card.characters.map(x => x.replace(" ", "")).join(" ") href= (path=="collection"?"../":"") + "card/"+card.uniqueName)
                img(class="img-fluid img-max" loading="lazy" height='110px' width='110px' src="/images/cards/S/" + card.uniqueName + ".jpg")
                p(class='figure-caption img-max') #{card.name}

    div(class="row text-left" id="memoryCards")
      div(class="col-12")
        h3(class="text-dark collapser" data-toggle="collapse" href="#memoryWrapper" role="button" aria-expanded="true" aria-controls="memoryWrapper") Memory Cards
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
    div(class='collapse show' id='memoryWrapper')
      div(class="row d-flex justify-content-between mx-auto" id="memorySection" style="padding:0 8px;")
        if cardsList.filter(card => card.type == "Memory").length != 0
          each card in cardsList
            if card.type == "Memory"
              a(class="text-center mb-2 h-100 cardPreview "+card.rarity.replace("UR+", "URp")+" "+card.attribute+" "+card.characters.map(x => x.replace(" ", "")).join(" ") href=(path=="collection"?"../":"") + "card/"+card.uniqueName)
                img(class="img-fluid img-max" loading="lazy" height='110px' width='110px' src="/images/cards/S/" + card.uniqueName + ".jpg")
                p(class='figure-caption img-max') #{card.name}

    div(class="b2t shadow text-primary text-center" id="b2t" type="button" title="Go to Top" style="display:none;")
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg>

  script(src="/javascripts/cardsListFunctions.js")
  link(rel="stylesheet", href="/stylesheets/cardsListStyle.css")
