extends layout

block content
	link(rel="stylesheet", href="/stylesheets/editCard.css")
	script(src="/javascripts/editCardFunctions.js")
	script.
		var cardName = !{JSON.stringify(card ? card.uniqueName : '')};
	
	div(id="successAlert" class="alert alert-success" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px")
	div(id="failAlert" class="alert alert-danger" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px")
	
	div(class="container")
		div(class="row text-left mb-3")
			div(class="col-12")
				h1(class="text-primary pb-2" style="border-bottom: 2px solid; border-color: #8d6fe2;")= title

		form(class='card shadow rounded mb-4')
			div(class='card-body mx-4')
				div(class='form-group')
					label(for="name") Name
					input(class='form-control' type="text" id="name" name="name" value=card?card.name:'')
				div(class='form-group')
					label(for="uniqueName") Unique name
					input(class='form-control' type="text" id="uniqueName" name="uniqueName" value=card?card.uniqueName:'')
					small(class='form-text text-muted') Must use underscore instead of spaces, can't use \/:*?"<>|
				div(class='form-group')
					label(for="type") Type
					select(class='custom-select' id="type" name="type")
						option(value='Demon' selected=(card?card.type==='Demon':true)) Demon
						option(value='Memory' selected=(card?card.type==='Memory':false)) Memory
				div(class='form-group')
					label(for="rarity") Rarity
					select(class='custom-select' id="rarity" name="rarity")
						option(value='N' selected=(card?card.rarity==='N':true)) N
						option(value='R' selected=(card?card.rarity==='R':false)) R
						option(value='SR' selected=(card?card.rarity==='SR':false)) SR
						option(value='SSR' selected=(card?card.rarity==='SSR':false)) SSR
						option(value='UR' selected=(card?card.rarity==='UR':false)) UR
						option(value='UR+' selected=(card?card.rarity==='UR+':false)) UR+
				div(class='form-group')
					label(for="attribute") Attribute
					select(class='custom-select' id="attribute" name="attribute")
						option(value='Pride' selected=(card?card.attribute==='Pride':true)) Pride
						option(value='Greed' selected=(card?card.attribute==='Greed':false)) Greed
						option(value='Envy' selected=(card?card.attribute==='Envy':false)) Envy
						option(value='Wrath' selected=(card?card.attribute==='Wrath':false)) Wrath
						option(value='Lust' selected=(card?card.attribute==='Lust':false)) Lust
						option(value='Gluttony' selected=(card?card.attribute==='Gluttony':false)) Gluttony
						option(value='Sloth' selected=(card?card.attribute==='Sloth':false)) Sloth
				div(class='form-group')
					label(for="characters") Characters
					select(class='custom-select' id="characters" name="characters" size=7 multiple)
						option(value='Lucifer' selected=(card?card.characters.includes("Lucifer"):true)) Lucifer
						option(value='Mammon' selected=(card?card.characters.includes("Mammon"):false)) Mammon
						option(value='Leviathan' selected=(card?card.characters.includes("Leviathan"):false)) Leviathan
						option(value='Satan' selected=(card?card.characters.includes("Satan"):false)) Satan
						option(value='Asmodeus' selected=(card?card.characters.includes("Asmodeus"):false)) Asmodeus
						option(value='Beelzebub' selected=(card?card.characters.includes("Beelzebub"):false)) Beelzebub
						option(value='Belphegor' selected=(card?card.characters.includes("Belphegor"):false)) Belphegor
				div(class='form-group')
					label(for="number") Number
					input(class='form-control' type="text" id="number" name="number" value=card?card.number:'')
				div(class='row mx-0')
					div(class="col-4")
						div(class='input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary')
							input(id="uploadL" type="file" class="form-control border-0 upload" accept=".jpg")
							label(for="uploadL" class="font-weight-light text-muted uploadLabel") Original image
							div(class="input-group-append")
								label(for="uploadL" class="btn btn-light m-0 rounded-pill px-4")
									i(class="lnr lnr-cloud-upload mr-2 text-muted" style='position: relative; top: 2px;')
									small(class="text-uppercase font-weight-bold text-muted") Choose file
					div(class="col-4")
						div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
							input(id="uploadLB" type="file" class="form-control border-0 upload" accept=".jpg")
							label(for="uploadLB" class="font-weight-light text-muted uploadLabel") Bloomed image
							div(class="input-group-append")
								label(for="uploadLB" class="btn btn-light m-0 rounded-pill px-4")
									i(class="lnr lnr-cloud-upload mr-2 text-muted" style='position: relative; top: 2px;')
									small(class="text-uppercase font-weight-bold text-muted") Choose file
					div(class="col-4")
						div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
							input(id="uploadS" type="file" class="form-control border-0 upload" accept=".jpg")
							label(for="uploadS" class="font-weight-light text-muted uploadLabel") Preview image
							div(class="input-group-append")
								label(for="uploadS" class="btn btn-light m-0 rounded-pill px-4")
									i(class="lnr lnr-cloud-upload mr-2 text-muted" style='position: relative; top: 2px;')
									small(class="text-uppercase font-weight-bold text-muted") Choose file
				div(class='row mx-0 mb-4')
					div(class="col-4")
						div(class="image-area mt-2 h-100")
							div(style='position: relative')
								if card
									img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + ".jpg")
								else
									img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="#")
								//button(class='close text-light bg-dark rounded-circle')
									span(style='position: relative; bottom: 3px') &times;
					div(class="col-4")
						div(class="image-area mt-2 h-100")
							div(style='position: relative')
								if card
									img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + "_b.jpg")
								else
									img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="#")
								//button(class='close text-light bg-dark rounded-circle')
									span(style='position: relative; bottom: 3px') &times;
					div(class="col-4")
						div(class="image-area mt-2 h-100 d-flex")
							div(class=' mx-auto align-self-center' style='position: relative')
								if card
									img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm d-block" style='max-width: 120px;' src="/images/cards/S/" + card.uniqueName + ".jpg")
								else
									img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" style='max-width: 120px;' src="#")
								//button(class='close text-light bg-dark rounded-circle')
									span(style='position: relative; bottom: 3px') &times;
				
				button(id='save' class='btn btn-primary') Save