extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/cardsListStyle.css")
  script(src="/javascripts/cardsListFunctions.js")

block content
  div(id="successAlert" class="alert alert-success" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Collection modified successfully
  div(id="failAlert" class="alert alert-danger" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Something went wrong, please reload the page

  div(class="container")
    h1= title

    if path === "collection"
      include statsboard.pug

    //- Card Navigation
    div(class="card sticky-top sticky-offset mb-3 shadow")
      div(class="card-body d-flex justify-content-around flex-wrap p-3" id="actionButtons")
        div(class="d-flex" + (user && path === "list" ? "  mb-2 mb-lg-0 mr-lg-auto" : ""))
          button(class="btn btn-md text-secondary py-0 mb-0" id="gotoDemon" href="#demonCards")
            span(class="d-none d-sm-block") Go to Demon Cards
            span(class="d-sm-none") Demon
          div(style="border-left: 3px solid; border-color: #db9efb; opacity: 50%; border-radius: 1rem")
          button(class="btn btn-md text-secondary py-0 mb-0" id="gotoMemory" href="#memoryCards")
            span(class="d-none d-sm-block") Go to Memory Cards
            span(class="d-sm-none") Memory
        div(class='d-lg-none' style='flex-basis: 100%; height: 0;')
        div(class="btn-group d-none mr-2" id="selectionButtons")
          button(class="btn btn-secondary mb-md-0" id="deselectAll") Deselect all
          button(class="btn btn-secondary mb-md-0" id="selectAll") Select all
        div(class="btn-group d-none" id="manageButtons")
          button(class="btn btn-primary mb-md-0" id="cancelManaging") Cancel
          button(class="btn btn-primary mb-md-0" id="saveManaging") Save
        if user && path === "list"
          button(class="btn btn-primary btn-md mb-0" id="manageCollection") Manage Collection

    div(id="searchBar" class="card shadow mb-3")
      div(class="card-body d-flex flex-wrap justify-content-around p-3")
        div(class="dropdown text-center")
          button(class="btn dropdown-toggle text-secondary mb-0" type="button" id="viewMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            span Icon view
          div(class="dropdown-menu shadow" aria-labelledby="viewMenuDropdown")
            a(id="iconViewBtn" class="dropdown-item viewBtn iconViewBtn" role='button' data-viewmode="icon")
              span.font-weight-bold.text-primary Icon view
            div(class="dropdown-divider")
            a(id="originalViewBtn" class="dropdown-item viewBtn originalViewBtn" role='button' data-viewmode="original")
              span.font-weight-normal Full original view
            a(id="bloomedViewBtn" class="dropdown-item viewBtn bloomedViewBtn" role='button' data-viewmode="bloomed")
              span.font-weight-normal Full bloomed view
        form(id="searchForm" class="col-md-auto flex-grow-1 px-2 mb-3 mb-md-0")
          div(class="input-group rounded-pill" style="background-color:rgba(219,158,251,0.2)")
            div(class="input-group-text border-0 bg-transparent text-primary" style="z-index: 3;")
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search text-secondary" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/></svg>
            input(type="text" class="form-control border-0 text-primary bg-transparent pl-0" id="nameFilter" placeholder="Search for card name...")
        button(id="expandFilters" class="btn btn-secondary btn-sm" data-toggle="collapse" aria-expanded="false" aria-controls="filters" style="width: 104px")
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" style="margin-bottom:.1rem;" viewBox="0 0 16 16"><path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/></svg>
          |
          | Filters


    div(id="filters" class="card card-body shadow" style="border-left:4px solid #8b9af0;")
      div.row
        h5.card-title.col Filters
        div.col.text-right
          a#resetFilters.text-black-50(type="button") Reset filters
      div.row
        div.col-md-1 Cards
        div.col
          ul#cardsfilter
            li(class="custom-control custom-radio")
              input(type="radio" class="custom-control-input" id="checkCardsAll" name="1")
              label(class="custom-control-label" for="checkCardsAll") All
            li(class="custom-control custom-radio")
              input(type="radio" class="custom-control-input" id="checkCardsOwned" name="1")
              label(class="custom-control-label" for="checkCardsOwned") Collected
            li(class="custom-control custom-radio")
              input(type="radio" class="custom-control-input" id="checkCardsNotOwned" name="1")
              label(class="custom-control-label" for="checkCardsNotOwned") Not collected
      hr
      div.row
        div.col-sm-12.col-md-6
          div Rarity
          ul#rarityForm
            li(class="custom-control custom-radio")
              input(type="radio" class="custom-control-input" id="checkRarityAll" name="checkRarityAll")
              label(class="custom-control-label" for="checkRarityAll") All
            - var rarities = ["N", "R", "SR", "SSR", "UR", "UR+"]
            each rarity in rarities
              li(class="custom-control custom-checkbox")
                input(type="checkbox" class="custom-control-input" id="checkRarity"+rarity name=(rarity==="UR+"?"URp":rarity))
                label(class="custom-control-label" for="checkRarity"+rarity)= rarity
          hr
          div Attribute
          ul#attributeForm
            li(class="custom-control custom-radio")
              input(type="radio" class="custom-control-input" id="checkAttributeAll" name="checkAttributeAll")
              label(class="custom-control-label" for="checkAttributeAll") All
            - var attributes = ["Pride", "Greed", "Envy", "Wrath", "Lust", "Gluttony", "Sloth"]
            each attribute in attributes
              li(class="custom-control custom-checkbox")
                input(type="checkbox" class="custom-control-input" id="checkAttribute"+attribute name=attribute)
                label(class="custom-control-label" for="checkAttribute"+attribute)= attribute
        div.col(style="border-left:2px solid aliceblue;") Character
          ul#characterForm
            li(class="custom-control custom-radio")
              input(type="radio" class="custom-control-input" id="checkCharacterAll" name="checkCharacterAll")
              label(class="custom-control-label" for="checkCharacterAll") All
            - var characters = ["Lucifer", "Mammon", "Leviathan", "Satan", "Asmodeus", "Beelzebub", "Belphegor", "Diavolo", "Barbatos", "Simeon", "Luke", "Solomon", "LittleD"]
            each character in characters
              li(class="custom-control custom-checkbox")
                input(type="checkbox" class="custom-control-input" id="checkCharacter"+character name=character)
                label(class="custom-control-label" for="checkCharacter"+character)= character==="LittleD"?"Little D":character

        //-
          div.col-12.col-md-6.pr-md-1.mb-2
            div(id="rarityFilter" class="card mb-2 shadow" style="border-left: 4px solid #8B9AF0;")
              div(class="card-header") Rarity
              div(class="card-body")
                form(id="rarityForm")
                  div(class="container")
                    div(class="row")
                      div(class="custom-control custom-radio mr-3 col-1")
                        input(type="radio" class="custom-control-input" id="checkRarityAll" name="All")
                        label(class="custom-control-label" for="checkRarityAll") All
                      - var rarities = ["N", "R", "SR", "SSR", "UR"]
                      each rarity in rarities
                        div(class="custom-control custom-checkbox mr-3 col-1")
                          input(type="checkbox" class="custom-control-input" id="checkRarity"+rarity name=rarity)
                          label(class="custom-control-label" for="checkRarity"+rarity) #{rarity}
                      div(class="custom-control custom-checkbox col-1")
                        input(type="checkbox" class="custom-control-input" id="checkRarityUR+" name="URp")
                        label(class="custom-control-label" for="checkRarityUR+") UR+
            div(id="attributeFilter" class="card shadow" style="border-left: 4px solid #F06292;")
              div(class="card-header") Attribute
              div(class="card-body")
                form(id="attributeForm")
                  div(class="container")
                    div(class="row")
                      div(class="custom-control custom-radio mr-5 ml-1 col-1")
                        input(type="radio" class="custom-control-input" id="checkAttributeAll" name="All")
                        label(class="custom-control-label" for="checkAttributeAll") All
                      - var attributes = ["Pride", "Greed", "Envy", "Wrath", "Lust", "Gluttony"]
                      each attribute in attributes
                        div(class="custom-control custom-checkbox mr-5 ml-1 col-1")
                          input(type="checkbox" class="custom-control-input" id="checkAttribute"+attribute name=attribute)
                          label(class="custom-control-label" for="checkAttribute"+attribute) #{attribute}
                      div(class="custom-control custom-checkbox ml-1 col-1")
                        input(type="checkbox" class="custom-control-input" id="checkAttributeSloth" name="Sloth")
                        label(class="custom-control-label" for="checkAttributeSloth") Sloth
          div.col-12.col-md-6.pl-md-1.mb-2
            div(id="characterFilter" class="card shadow h-100" style="border-left: 4px solid #C297EC;")
              div(class="card-header") Character
              div(class="card-body")
                form(id="characterForm")
                  div(class="container pl-0")
                    div(class="row")
                      div(class="custom-control custom-radio mr-5 ml-3 col-2")
                        input(type="radio" class="custom-control-input" id="checkCharacterAll" name="All")
                        label(class="custom-control-label" for="checkCharacterAll") All
                      - var characters = ["Lucifer", "Mammon", "Leviathan", "Satan", "Asmodeus", "Beelzebub", "Belphegor", "Diavolo", "Barbatos", "Simeon", "Luke", "Solomon"]
                      each character in characters
                        div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                          input(type="checkbox" class="custom-control-input" id="checkCharacter"+character name=character)
                          label(class="custom-control-label" for="checkCharacter"+character) #{character}
                      div(class="custom-control custom-checkbox mr-5 ml-3 col-2")
                        input(type="checkbox" class="custom-control-input" id="checkCharacterLittleD" name="LittleD")
                        label(class="custom-control-label" for="checkCharacterLittleD" style="min-width: 75px;") Little D
          .col-12.mb-2
            .card.shadow.h-100#miscFilter(style="border-left: 4px solid #88d9e3")
              .card-header Misc
              .card-body.pt-1
                .form-check-inline.flex.flex-wrap.w-100
                  .custom-control.custom-checkbox.mr-3(style='min-width: 10rem')
                    input.custom-control-input#notOwned(type="checkbox" name="notOwned")
                    label.custom-control-label(for="notOwned") Only show not owned cards
                  .custom-control.custom-checkbox(style='min-width: 10rem')
                    input.custom-control-input#unlockOutfit(type="checkbox" name="unlockOutfit" disabled)
                    label.custom-control-label(for="unlockOutfit") Only show cards with outfits

          div(class="row" id="demonCards")
            div(class="col-12")
              h3(class="text-dark collapser" data-toggle="collapse" href="#demonWrapper" role="button" aria-expanded="true" aria-controls="demonWrapper") Demon Cards
                |
                |
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
          div(class='collapse show invisible' id='demonWrapper')
            div(class="row d-flex justify-content-between mx-auto" id="demonSection" style="padding:0 8px;")
              if cardsList.filter(card => card.type == "Demon").length != 0
                each card in cardsList
                  if card.type == "Demon"
                    a(class="cardPreview icon-container "+card.rarity.replace("UR+", "URp")+" "+card.attribute+" "+card.characters.map(x => x.replace(" ", "")).join(" ") href=(path==="collection"||path==="fav"?"../":"") + "card/"+card.uniqueName)
                      img(class="lazy" loading="lazy" src="/images/cards/S/" + card.uniqueName + ".jpg")
                      figcaption #{card.name}

          if (!user || !user.supportStatus.includes("adfree"))
            div.container.ad-container.text-center.my-3
              <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1710157662563352" data-ad-slot="7371452932" data-ad-format="auto" data-full-width-responsive="true"></ins>
              script.
                (adsbygoogle = window.adsbygoogle || []).push({});
              a(type="button" class="text-muted" data-toggle="modal" data-target="#removeAdsModal" style="display:none;") Remove Ads

          div(class="row" id="memoryCards")
            div(class="col-12")
              h3(class="text-dark collapser" data-toggle="collapse" href="#memoryWrapper" role="button" aria-expanded="true" aria-controls="memoryWrapper") Memory Cards
                |
                |
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
          div(class='collapse show invisible' id='memoryWrapper')
            div(class="row d-flex justify-content-between mx-auto" id="memorySection" style="padding:0 8px;")
              if cardsList.filter(card => card.type == "Memory").length != 0
                each card in cardsList
                  if card.type == "Memory"
                    a(class="cardPreview icon-container "+card.rarity.replace("UR+", "URp")+" "+card.attribute+" "+card.characters.map(x => x.replace(" ", "")).join(" ") href=(path==="collection"||path==="fav"?"../":"") + "card/"+card.uniqueName)
                      img(class="lazy" loading="lazy" src="/images/cards/S/" + card.uniqueName + ".jpg")
                      figcaption #{card.name}
