extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/imageUpload.css")
	script(src="/javascripts/cardEdit.js")

block content
	div#alert(role="alert")
	div(class="container")
		h1= title
		form#data.card.mb-4
			div(class='card-body mx-4')
				if !user.isAdmin
					h5.text-center Please upload images to
						|
						|
						a(href="https://drive.google.com/drive/folders/1Tbo6bPrpp0aYb_YCMotNmQXVychxBseI" target="_blank") our google drive folder
						| .
					hr
				div(class='form-group')
					label(for="name") Name
					input(class='form-control' type="text" id="name" name="name" value=card?card.name:'')
				div(class='form-group'+(user.isAdmin?'':" d-none"))
					label(for="uniqueName") Unique name
					input(class='form-control' type="text" id="uniqueName" name="uniqueName" value=card?card.uniqueName:'')
					small(class='form-text text-muted') Must use underscore instead of spaces, can't use \/:*?"<>|
				div(class='form-group')
					label(for="ja_name") Japanese Name
					input(class='form-control' type="text" id="ja_name" name="ja_name" value=card?card.ja_name:'???')
				span How to get
				div.form-inline.mb-2
					div#source
						if card && card.source.length !== 0
							each i in card.source
								input(class="form-control" type="text" value=i)
						else
							input(class="form-control" type="text" value="???")
					button#removeEvent.btn.text-primary(type="button" data-target="#source") &minus;
					button#addEvent.btn.text-primary(type="button" data-target="#source") &plus;
				//- span How to get (JP)
				//- div.form-inline
				//- 	div#ja_source
				//- 		if card && card.ja_source.length !== 0
				//- 			each i in card.ja_source
				//- 				input(class="form-control" type="text" value=i)
				//- 		else
				//- 			input(class="form-control" type="text" value="???")
				//- 	button#ja_removeEvent.btn.text-primary(type="button" data-target="#ja_source") &minus;
				//- 	button#ja_addEvent.btn.text-primary(type="button" data-target="#ja_source") &plus;
				p.small.text-muted Example lesson source: Hard (3-13, 3-14, 3-15)
				div(class='form-group')
					label(for="type") Type
					select(class='custom-select' id="type" name="type")
						option(value='Demon' selected=(card?card.type==='Demon':true)) Demon
						option(value='Memory' selected=(card?card.type==='Memory':false)) Memory
				div(class='form-group')
					label(for="rarity") Rarity
					select(class='custom-select' id="rarity" name="rarity")
						option(value='N' selected=(card?card.rarity==='N':true)) N
						option(value='R' selected=(card?card.rarity==='R':false)) R
						option(value='SR' selected=(card?card.rarity==='SR':false)) SR
						option(value='SSR' selected=(card?card.rarity==='SSR':false)) SSR
						option(value='UR' selected=(card?card.rarity==='UR':false)) UR
						option(value='UR+' selected=(card?card.rarity==='UR+':false)) UR+
				div(class='form-group')
					label(for="attribute") Attribute
					select(class='custom-select' id="attribute" name="attribute")
						option(value='Pride' selected=(card?card.attribute==='Pride':true)) Pride
						option(value='Greed' selected=(card?card.attribute==='Greed':false)) Greed
						option(value='Envy' selected=(card?card.attribute==='Envy':false)) Envy
						option(value='Wrath' selected=(card?card.attribute==='Wrath':false)) Wrath
						option(value='Lust' selected=(card?card.attribute==='Lust':false)) Lust
						option(value='Gluttony' selected=(card?card.attribute==='Gluttony':false)) Gluttony
						option(value='Sloth' selected=(card?card.attribute==='Sloth':false)) Sloth
				div(class='form-group')
					label Characters
					each character in ALL_CHARACTERS
						div.custom-control.custom-checkbox
							input.custom-control-input(id=character type="checkbox" name="characters" value=character checked=(card?card.characters.includes(character):false))
							label.custom-control-label(for=character)= character
				div(class='form-group'+(user.isAdmin?'':" d-none"))
					label(for="number") Number
					input(class='form-control' type="text" id="number" name="number" value=card?card.number:'')
				if !card
					div(class='custom-control custom-checkbox'+(user.isAdmin?'':" d-none"))
						input(class='custom-control-input' type="checkbox" id="isHidden" name="isHidden")
						label(class='custom-control-label' for="isHidden") Hidden card
				if user.type === "Admin"
					div(class='row mx-0 mt-3')
						div.col-12.col-md-4
							div(class='input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary')
								input(id="uploadL" type="file" class="form-control border-0 upload" accept=".jpg")
								label(for="uploadL" class="font-weight-light text-muted uploadLabel") Original image
								div(class="input-group-append")
									label(for="uploadL" class="btn btn-light m-0 rounded-pill px-4")
										svg(width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="#4e5761" xmlns="http://www.w3.org/2000/svg" style='position: relative; right: 4px;')
											path(fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z")
											path(fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z")
										small(class="text-uppercase font-weight-bold text-muted") Choose file
						div.col-12.col-md-4
							div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
								input(id="uploadLB" type="file" class="form-control border-0 upload" accept=".jpg")
								label(for="uploadLB" class="font-weight-light text-muted uploadLabel") Bloomed image
								div(class="input-group-append")
									label(for="uploadLB" class="btn btn-light m-0 rounded-pill px-4")
										svg(width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="#4e5761" xmlns="http://www.w3.org/2000/svg" style='position: relative; right: 4px;')
											path(fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z")
											path(fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z")
										small(class="text-uppercase font-weight-bold text-muted") Choose file
						div.col-12.col-md-4
							div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
								input(id="uploadS" type="file" class="form-control border-0 upload" accept=".jpg")
								label(for="uploadS" class="font-weight-light text-muted uploadLabel") Preview image
								div(class="input-group-append")
									label(for="uploadS" class="btn btn-light m-0 rounded-pill px-4")
										svg(width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="#4e5761" xmlns="http://www.w3.org/2000/svg" style='position: relative; right: 4px;')
											path(fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z")
											path(fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z")
										small(class="text-uppercase font-weight-bold text-muted") Choose file
					div(class='row mx-0 mb-4')
						div.col-12.col-md-4
							div(class="image-area mt-2 h-100")
								div(style='position: relative')
									if card
										img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + ".jpg")
									else
										img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="#")
						div.col-12.col-md-4
							div(class="image-area mt-2 h-100")
								div(style='position: relative')
									if card
										img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + "_b.jpg")
									else
										img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="#")
						div.col-12.col-md-4
							div(class="image-area mt-2 h-100 d-flex")
								div(class=' mx-auto align-self-center' style='position: relative')
									if card
										img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm d-block" style='max-width: 120px;' src="/images/cards/S/" + card.uniqueName + ".jpg")
									else
										img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" style='max-width: 120px;' src="#")
				hr
				button.btn.btn-primary.mr-2(type="submit") Save
				span#cd

	if user.type === "Admin"
		script.
			function readImage(upload) {
				return new Promise((resolve, reject) => {
					if (upload.files && upload.files[0]) {
						let reader = new FileReader();
						reader.onloadend = function (e) {
							resolve(e.target.result);
						};
						try {
							reader.readAsDataURL(upload.files[0]);
						} catch(err) {
							reject(err);
						}
					} else {
						resolve('');
					}
				});
			}
			function prepareCardImages() {
				var images = {};
				var readL = readImage($('#uploadL')[0]);
				var readLB = readImage($('#uploadLB')[0]);
				var readS = readImage($('#uploadS')[0]);

				Promise.all([readL, readLB, readS]).then(values => {
					if (values[0]) images.L = values[0];
					if (values[1]) images.LB = values[1];
					if (values[2]) images.S = values[2];
					sendRequest(images);
				}, reason => {
					showAlert("danger", "Can't load images\n" + reason.message);
				});
			}
			function submitChange(e) {
				e.preventDefault();
				if (!validateFields()) {
					return;
				}
				prepareCardImages();
			}
			function sendRequest(images) {
				$.post(location.pathname, { cardData: getCardData(), images: images }, function(result) {
					if (result.err) {
						showAlert("danger", result.message);
						return;
					}
					showAlert("success", result.message);
				});
			}

	else
		<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="suggestionModalLabel">Suggestion submitted :)</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					div.modal-body
						p Thank you for your edit!
						p We have received your edit and will review it soon. If you would like to know the status of your suggestion, please check our
							|
							|
							a(href="/suggestion") suggestion page
							| . We will usually approve it within 72 hours.
						h5 IMPORTANT:
						p If you make a new suggestion on the same page, only the most recent one will be reviewed! So, make sure your put all your suggestions in a single edit!
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		script.
			function setCD(countdown) {
				$("form#data button[type='submit']").prop("disabled", true);
				let cd = setInterval(() => {
					$("span#cd").text(--countdown + 's');
					if (countdown === 0) {
						clearInterval(cd);
						$("span#cd").text('');
						$("form#data button[type='submit']").prop("disabled", false);
					}
				}, 1000);
			}
			function submitChange(e) {
				e.preventDefault();
				let newData = JSON.stringify(getCardData());
				if (newData === originalData) {
					setCD(20);
					showAlert("warning", "You didn't make any change.")
					return;
				}
				setCD(60);
				$.post("/suggestion/add", {
					page: location.pathname.replace("/edit", ''),
					data: newData
				}, function(result) {
					if (result.err) {
						showAlert("danger", result.message);
						return;
					}
					$("#suggestionModal").modal("show");
				});
			}

	style.
		@media screen and (max-width: 720px) {
			body {
				background: rgb(255,254,255) !important;
			}
			.card {
				box-shadow: none !important;
				background: transparent !important;
			}
			.card-body {
				padding: 0 !important;
				margin: 0 !important;
			}
		}
