extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/cardsListStyle.css")
  script.
    const PATH = !{JSON.stringify(path)};
  if path === "hidden"
    script.
      let cardList = !{JSON.stringify(cardList)};
      $(function() {
        let f = document.getElementById("filter-container");
        f.style.pointerEvents = "none";
        f.style.opacity = 0.5;
        initInfiniteScroll();
        updateCardCount();
      });
  else
    script.
      let cardList = [];
      $(function() {
        getCards(getFilterQuery());
      });
  script(src="/javascripts/cardsListFunctions.js")
  <script src="https://unpkg.com/@webcreate/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
  //script(src="/javascripts/lazyload.js")
block content
  div#alert(role="alert")
  div(class="container")
    h1= title

    if (!user || !user.isSupporter)
      div.ddd <div id="ezoic-pub-ad-placeholder-109"> </div>

    if path === "collection"
      div#usernav.mb-3
        a.btn.btn-outline-primary(type="button" href="profile") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person mb-1" viewBox="0 0 16 16">   <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/> </svg>
          span &nbsp;#{t("common.profile")}
        a.btn.btn-primary.mx-2(type="button" href="#") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person mb-1" viewBox="0 0 16 16">   <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>   <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/> </svg>
          |
          | #{t("collection.cards")}
        a.btn.btn-outline-primary.mr-2(type="button" href="favourites") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mb-1" viewBox="0 0 16 16">   <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> </svg>
          span &nbsp;#{t("collection.favourites")}
        if title === t("title.my_collection")
          button(type="button" id="shareLink" class="btn btn-outline-primary" data-toggle="modal" data-target="#openLink")
            <svg class="bi bi-share mb-1" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/></svg>
            span &nbsp;#{t("profile.share")}
          script(src="/javascripts/shareProfile.js")
    else if path === "fav"
      div#usernav.mb-3
        a.btn.btn-outline-primary(type="button" href="profile") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person mb-1" viewBox="0 0 16 16">   <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/> </svg>
          span &nbsp;#{t("common.profile")}
        a.btn.btn-outline-primary.mx-2(type="button" href="collection") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person mb-1" viewBox="0 0 16 16">   <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>   <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/> </svg>
          span &nbsp;#{t("collection.cards")}
        a.btn.btn-primary.mr-2(type="button" href="#") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mb-1 mr-1" viewBox="0 0 16 16">   <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> </svg>
          | #{t("collection.favourites")}
        if title === t("title.my_favourites")
          button(type="button" id="shareLink" class="btn btn-outline-primary" data-toggle="modal" data-target="#openLink")
            <svg class="bi bi-share mb-1" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/></svg>
            span &nbsp;#{t("profile.share")}
          script(src="/javascripts/shareProfile.js")

    if isPrivate && (title !== t("title.my_collection") || title !== t("title.my_favourites"))
      div.card.card-body
        h5.text-muted.text-center(style="margin:5rem auto;")= t("profile.private_collection")
    else
      if path === "collection"
        include collectionStats.pug

      //- Manage collection
      if user && path === "list"
        div(class="card card-body sticky-top sticky-offset mb-3 p-3")
          div.d-flex.flex-wrap.justify-content-between.align-items-center
            h5#selectioncount.mb-2.mb-lg-0.mx-auto.mx-lg-0.text-center.text-md-left.d-sm-flex
              div.mr-sm-3 Demon:
                |
                |
                span#demoncount --
              div Memory:
                |
                |
                span#memorycount --
            div.w-100.d-lg-none
            div#actionButtons.mx-auto.mx-lg-0.text-center
              div#selectionButtons.btn-group.d-none.mr-sm-2.mb-2.mb-sm-0
                button(class="btn btn-secondary" id="deselectAll")= t("cards.deselect_all")
                button(class="btn btn-secondary" id="selectAll")= t("cards.select_all")
              div.w-100.d-sm-none
              div(class="btn-group d-none" id="manageButtons")
                button(class="btn btn-primary" id="cancelManaging")= t("cards.cancel")
                button(class="btn btn-primary" id="saveManaging")= t("cards.save")
              button(class="btn btn-primary btn-md mb-0" id="manageCollection")
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">   <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>   <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg>
                |
                | #{t("cards.manage_collection")}

      if (!user || !user.isSupporter)
        div.ddd
          <div id="ezoic-pub-ad-placeholder-111"></div>

      //- Filters
      div#filter-container.card.card-body.mb-3.p-3
        div(class="d-flex flex-wrap justify-content-around align-items-center")
          div#viewMenuDropdown(class="dropdown text-center")
            button(class="btn dropdown-toggle text-secondary mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              if (!query.view || !["original", "bloomed"].includes(query.view))
                span= t("cards.icon_view")
              else if (query.view === "original")
                span= t("cards.full_original")
              else
                span= t("cards.full_bloomed")
            -
              function isSelectedView(t) {
                if (!query.view) query.view = "icon";
                return query.view === t ? " text-primary font-weight-bold" : "";
              }
            div(class="dropdown-menu shadow" aria-labelledby="viewMenuDropdown")
              a(class="dropdown-item"+isSelectedView("icon") data-viewtype="icon")= t("cards.icon_view")
              div(class="dropdown-divider")
              a(class="dropdown-item"+isSelectedView("original") data-viewtype="original")= t("cards.full_original")
              a(class="dropdown-item"+isSelectedView("bloomed") data-viewtype="bloomed")= t("cards.full_bloomed")
          form#search.d-flex.flex-grow-1.mx-sm-2.mb-2.mb-md-0
            div(class="input-group rounded-pill mr-2" style="background-color:rgba(219,158,251,0.2)")
              div.input-group-prepend
                span.input-group-text.text-secondary <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/></svg>
              if (query.search)
                - var search = { value: query.search };
              input.form-control.text-primary(type="text" name="search" placeholder=t("cards.search"))&attributes(search)
            input.btn.btn-outline-secondary.btn-sm.px-3(type="submit" value="Search")
          button.btn.btn-secondary.btn-sm.px-3(type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin-bottom:.125rem">   <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/> </svg>
            |
            | #{t("cards.filters")}
        div#filters.container.collapse.pt-4
          form
            div.row
              div.col-12.text-center
                label Sort by:
                |
                |
                select.custom-select(name="sortby" style="width:auto;")
                  option(value='') default
                  option(value="min_-1" selected=(query.sortby&&query.sortby==="min_-1")) Min strength &uarr;
                  option(value="min_1" selected=(query.sortby&&query.sortby==="min_1")) Min strength &darr;
                  option(value="max_-1" selected=(query.sortby&&query.sortby==="max_-1")) Max strength &uarr;
                  option(value="max_1" selected=(query.sortby&&query.sortby==="max_1")) Max strength &darr;
                  option(value="fdt_-1" selected=(query.sortby&&query.sortby==="fdt_-1")) FDT strength &uarr;
                  option(value="fdt_1" selected=(query.sortby&&query.sortby==="fdt_1")) FDT strength &darr;
            hr
            if path === "list"
              div.row
                p.col-lg-2.text-center= t("common.cards")
                div#cardsfilter.col
                  div.custom-control.custom-radio.custom-control-inline
                    input#checkCardsAll.custom-control-input(type="radio" name="cards" value="all" checked=(!user || !query.cards || query.cards === "all"))
                    label.custom-control-label(for="checkCardsAll") All
                  div.custom-control.custom-radio.custom-control-inline(style={opacity: (user?'1':".5")})
                    input#checkCardsOwned.custom-control-input(type="radio" name="cards" value="owned" checked=(user && query.cards === "owned") disabled=(user?false:true))
                    label.custom-control-label(for="checkCardsOwned")= t("cards.owned")
                  div.custom-control.custom-radio.custom-control-inline(style={opacity: (user?'1':".5")})
                    input#checkCardsNotOwned.custom-control-input(type="radio" name="cards" value="notowned" checked=(user && query.cards === "notowned") disabled=(user?false:true))
                    label.custom-control-label(for="checkCardsNotOwned")= t("cards.not_owned")
                  if !user
                    div(style="display:inline;")
                      a(href="/signup")= t("common.signup")
                      |
                      |
                      span.text-dark /
                      |
                      |
                      a(href="/login")= t("common.login")
              hr
            div.row
              p.col-lg-2.text-center= t("cards.rarity")
              div#rarity.col
                div.custom-control.custom-radio.custom-control-inline
                  input#checkRarityAll.custom-control-input(type="radio" name="rarity" checked=!query.rarity value="")
                  label.custom-control-label(for="checkRarityAll") All
                each rarity in ["N", "R", "SR", "SSR", "UR", "UR+"]
                  - query.rarity = [].concat(query.rarity)
                  div.custom-control.custom-checkbox.custom-control-inline
                    input.custom-control-input(type="checkbox" id="checkRarity"+rarity name="rarity" value=rarity checked=(query.rarity&&query.rarity.includes(rarity)?true:false))
                    label.custom-control-label(for="checkRarity"+rarity)= rarity
            hr
            div.row
              p.col-lg-2.text-center= t("cards.attribute")
              div#attribute.col
                div.custom-control.custom-radio.custom-control-inline
                  input#checkAttributeAll.custom-control-input(type="radio" name="attribute" checked=!query.attribute value="")
                  label.custom-control-label(for="checkAttributeAll") All
                each attribute in ["Pride", "Greed", "Envy", "Wrath", "Lust", "Gluttony", "Sloth"]
                  div.custom-control.custom-checkbox.custom-control-inline
                    input.custom-control-input(type="checkbox" id="checkAttribute"+attribute name="attribute" value=attribute checked=(query.attribute&&query.attribute.includes(attribute)?true:false))
                    label.custom-control-label(for="checkAttribute"+attribute)= t(attribute)
            hr
            div.row
              p.col-lg-2.text-center= t("cards.character")
              div#characters.col.d-flex.flex-wrap.align-items-center
                div.custom-control.custom-radio.custom-control-inline
                  input#checkAllCharacters.custom-control-input(type="radio" name="characters" checked=!query.characters value="")
                  label.custom-control-label(for="checkAllCharacters") All
                each character in ALL_CHARACTERS
                  div.btn-group-toggle(data-toggle="buttons")
                    label(for="check"+character class="btn"+(query.characters&&query.characters.includes(character)?" active":""))
                      input(type="checkbox" id="check"+character name="characters" value=character checked=(query.characters&&query.characters.includes(character)?true:false))
                      img(src="/images/faces/"+character+".png" style="width:32px;height:32px;" alt=t(character))
            hr
            div.row.justify-content-center
              button#resetFilters.btn.btn-outline-secondary.mr-3(type="button" style="min-width:100px;") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">   <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>   <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> </svg>
                |
                | #{t("cards.reset")}
              input.btn.btn-primary(type="submit" style="min-width:100px;" value="Apply")

      if (!user || !user.isSupporter)
        div.ddd
          <div id="ezoic-pub-ad-placeholder-108"></div>

      -
        function getName(d) {
          var lang = t("lang");
          if (lang === "en") {
            return d.name;
          } else if (lang === "ja") {
            return d.ja_name;
          } else if (lang === "zh") {
            // return d.zh_name;
            return d.name;
          }
        }
        function getImageLink(name) {
          if (!query.view) return "/images/cards/S/" + name + ".jpg";
          if (query.view === "original")
            return "/images/cards/L/" + name + ".jpg";
          else if (query.view === "bloomed")
            return "/images/cards/L/" + name + "_b.jpg";
          else
            return "/images/cards/S/" + name + ".jpg";
        }

      ul.nav.nav-pills.nav-fill.shadow.mb-3(style="background:white;border-radius:.25rem;")
        li.nav-item
          a#demon-tab.nav-link(data-toggle="tab" href="#demoncards" role="tab" aria-controls="demoncards" aria-selected="false") Demon
        li.nav-item
          a#memory-tab.nav-link(data-toggle="tab" href="#memorycards" role="tab" aria-controls="memorycards" aria-selected="false") Memory
      div.tab-content
        div#demoncards.tab-pane(role="tabpanel" aria-labelledby="demon-tab")
          p.text-center.text-muted.my-5.d-none= t("cards.no-cards")
          div.ias
          div.spinner.text-center Loading...
        div#memorycards.tab-pane(role="tabpanel" aria-labelledby="memory-tab")
          p.text-center.text-muted.my-5.d-none= t("cards.no-cards")
          div.ias
          div.spinner.text-center Loading...

      //-
        if title === t("title.my_favourites")
          div(class="modal fade" id="openLink" tabindex="-1" role="dialog" aria-labelledby="openShareLink" aria-hidden="true")
            div(class="modal-dialog" role="document")
              div(class="modal-content")
                div(class="modal-header")
                  h5(class="modal-title text-primary" id="openShareLink")= t("profile.share")
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                div(class="modal-body mb-2")
                  div.input-group
                    input(type="text" id="userLink" class="form-control" value=`https://karasu-os.com/${user.name}/favourites` name="userlink" aria-label="user's collection link" aria-describedby="user link" readonly)
                    div.input-group-append
                      button#copyLink.btn.btn-primary(style="border-radius:0 4px 4px 0;")= t("profile.copy")
