extends layout

block content
	link(rel="stylesheet", href="/stylesheets/editCard.css")
	script(src="/javascripts/editCardFunctions.js")
	script.
		var cardName = !{JSON.stringify(card.uniqueName)};

	div(class="container")
		div(class="row text-left mb-3")
			div(class="col-12")
				h1(class="text-primary pb-2" style="border-bottom: 2px solid; border-color: #8d6fe2;")= title

		form(class='card shadow rounded mb-4')
			div(class='card-body mx-4')
				div(class='form-group')
					label(for="name") Name
					input(class='form-control' type="text" id="name" name="name" value=card.name)
				div(class='form-group')
					label(for="uniqueName") Unique name
					input(class='form-control' type="text" id="uniqueName" name="uniqueName" value=card.uniqueName)
					small(class='form-text text-muted') Must use underscore instead of spaces, can't use \/:*?"<>|
				div(class='form-group')
					label(for="type") Type
					select(class='custom-select' id="type" name="type")
						option(value='Demon' selected=(card.type=='Demon')) Demon
						option(value='Memory' selected=(card.type=='Memory')) Memory
				div(class='form-group')
					label(for="rarity") Rarity
					select(class='custom-select' id="rarity" name="rarity")
						option(value='N' selected=(card.rarity=='N')) N
						option(value='R' selected=(card.rarity=='R')) R
						option(value='SR' selected=(card.rarity=='SR')) SR
						option(value='SSR' selected=(card.rarity=='SSR')) SSR
						option(value='UR' selected=(card.rarity=='UR')) UR
						option(value='UR+' selected=(card.rarity=='UR+')) UR+
				div(class='form-group')
					label(for="attribute") Attribute
					select(class='custom-select' id="attribute" name="attribute")
						option(value='Pride' selected=(card.attribute=='Pride')) Pride
						option(value='Greed' selected=(card.attribute=='Greed')) Greed
						option(value='Envy' selected=(card.attribute=='Envy')) Envy
						option(value='Wrath' selected=(card.attribute=='Wrath')) Wrath
						option(value='Lust' selected=(card.attribute=='Lust')) Lust
						option(value='Gluttony' selected=(card.attribute=='Gluttony')) Gluttony
						option(value='Sloth' selected=(card.attribute=='Sloth')) Sloth
				div(class='form-group')
					label(for="characters") Characters
					select(class='custom-select' id="characters" name="characters" size=7 multiple)
						option(value='Lucifer' selected=(card.characters.includes("Lucifer"))) Lucifer
						option(value='Mammon' selected=(card.characters.includes("Mammon"))) Mammon
						option(value='Leviathan' selected=(card.characters.includes("Leviathan"))) Leviathan
						option(value='Satan' selected=(card.characters.includes("Satan"))) Satan
						option(value='Asmodeus' selected=(card.characters.includes("Asmodeus"))) Asmodeus
						option(value='Beelzebub' selected=(card.characters.includes("Beelzebub"))) Beelzebub
						option(value='Belphegor' selected=(card.characters.includes("Belphegor"))) Belphegor
				div(class='form-group')
					label(for="number") Number
					input(class='form-control' type="text" id="number" name="number" value=card.number)
				div(class='row mx-0')
					div(class="col-4")
						div(class='input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary')
							input(id="uploadL" type="file" class="form-control border-0 upload")
							label(for="uploadL" class="font-weight-light text-muted uploadLabel") Original image
							div(class="input-group-append")
								label(for="uploadL" class="btn btn-light m-0 rounded-pill px-4")
									i(class="lnr lnr-cloud-upload mr-2 text-muted" style='position: relative; top: 2px;')
									small(class="text-uppercase font-weight-bold text-muted") Choose file
					div(class="col-4")
						div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
							input(id="uploadLB" type="file" class="form-control border-0 upload")
							label(for="uploadLB" class="font-weight-light text-muted uploadLabel") Bloomed image
							div(class="input-group-append")
								label(for="uploadLB" class="btn btn-light m-0 rounded-pill px-4")
									i(class="lnr lnr-cloud-upload mr-2 text-muted" style='position: relative; top: 2px;')
									small(class="text-uppercase font-weight-bold text-muted") Choose file
					div(class="col-4")
						div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
							input(id="uploadS" type="file" class="form-control border-0 upload")
							label(for="uploadS" class="font-weight-light text-muted uploadLabel") Preview image
							div(class="input-group-append")
								label(for="uploadS" class="btn btn-light m-0 rounded-pill px-4")
									i(class="lnr lnr-cloud-upload mr-2 text-muted" style='position: relative; top: 2px;')
									small(class="text-uppercase font-weight-bold text-muted") Choose file
				div(class='row mx-0 mb-4')
					div(class="col-4")
						div(class="image-area mt-2 h-100")
							div(style='position: relative')
								img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + ".jpg")
								button(class='close text-light bg-dark rounded-circle')
									span(style='position: relative; bottom: 3px') &times;
					div(class="col-4")
						div(class="image-area mt-2 h-100")
							div(style='position: relative')
								img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + "_b.jpg")
								button(class='close text-light bg-dark rounded-circle')
									span(style='position: relative; bottom: 3px') &times;
					div(class="col-4")
						div(class="image-area mt-2 h-100 d-flex")
							div(class=' mx-auto align-self-center' style='position: relative')
								img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm d-block" style='max-width: 120px;' src="/images/cards/S/" + card.uniqueName + ".jpg")
								button(class='close text-light bg-dark rounded-circle')
									span(style='position: relative; bottom: 3px') &times;
				button(class='btn btn-primary') Save