extends layout

block scripts
	link(href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" rel="stylesheet")
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	link(rel="stylesheet" href="/stylesheets/imageUpload.css")
	script(src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js")
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	script(src="/javascripts/cardEdit.js")
	include dict/itemList.pug
	include dict/itemList2.pug
	script.
		// add other rewards
		var items1 = !{JSON.stringify(ITEMS)};
		var items2 = !{JSON.stringify(itemList)};
		var rewards = items1.concat(items2).sort();

mixin treeCostTemplate(item)
	if item.length === 0
		- item = Array(3).fill({ name: '', amount: '' });
	each i, index in item
		div.form-row.align-items-center.mb-2
			label.col-2.col-md-1.text-center= index + 1
			div.col-10
				div.row
					div.col-md-6.col-lg-4.mb-1.mb-md-0
						select.item-select.custom-select.form-control(name="name")
							option(value='' data-subtext='--')
							each x in ITEMS
								option(value=x selected=(i.name===x))= x
					div.col-md-6.col-lg-4.mb-1.mb-md-0
						input.form-control(type="number" name="amount" value=i.amount placeholder="how many?")

mixin treeTemplate(node = { reward: '', type: '', requirements: [], grimmCost: '', nodeOrder: '' })
	div
		form.form-row
			div.d-none: input(type="text" name="_id" value=node._id readonly)
			div.d-none
				div.form-inline.col-12.align-items-center.mb-2
					label.mr-2 No.
					input.form-control.m-0.mr-2(type="number" name="nodeOrder" value=node.nodeOrder style="width:80px;")
					small.text-muted The order in which this node should appear on this page.
			div.form-group.col-12.col-md-6.col-lg-3
				label Name
				input.form-control.autocomplete(type="text" value=node.reward name="reward" readonly=(node._id && node.reward !== "???"))
			div.form-group.col-12.col-md-6.col-lg-3
				label Amount
				input.form-control(type="number" value=node.count name="count")
			div.form-group.col-12.col-md-6.col-lg-3
				label Type
				select.custom-select.form-control(name="type")
					option(value='') --
					each t in ['item', 'icon', 'bgm', 'wallpaper', 'clothing', 'voice', 'chat', 'skill_animation', 'moving_picture', 'home_picture']
						option(value=t selected=(node.type===t))= t
			div.form-group.col-12.col-md-6.col-lg-3
				label Grimm cost
				input.form-control(type="number" name="grimmCost" value=node.grimmCost)
			div.form-group.col-12
				label Requirements
				+treeCostTemplate(node.requirements)
		if node.reward == '' ? true : false
			button.btn.btn-outline-secondary.remove-item(type="button") Remove node
		else
			small.text-muted Contact admin if you need to remove pre-existing nodes.
		hr

mixin skillTemplate(skill = { skillType: '', title: '', description: '' })
	form.form-row
		div.form-group.col-12.col-md-6
			label Title
			input.form-control(type="text" name="title" value=skill.title)
		div.form-group.col-12.col-md-6
			label Type
			input.form-control(type="text" name="skillType" value=skill.skillType readonly)
		div.form-group.col-12
			label Description
			textarea.form-control(name="description")= skill.description

block content
	div#alert(role="alert")
	div(class="container")
		h1= title
		if pendingSuggestion
			div.card.card-body.text-center.mb-3: h5.m-0 Karasu is behind in reviewing edits. Please check back later. Thank you!
		div.card.mb-4
			if pendingSuggestion
				div.w-100.h-100.rounded(style="position:absolute;background:rgba(255,255,255,.8);z-index:10;")
			div.card-body
				if user.supportStatus.some(badge => badge.name === "trustedContributor")
					p.text-center Congratulations on becoming Karasu's trusted contributor! Your edits will be automatically approved from now on. Please maintain your good work :)
				if !user.isAdmin
					p.text-center If in doubt, ask for help in our
						|
						|
						a(href="https://discord.gg/Y3KMW7U") discord server
						| .
					p.text-center We just added a <a href="/tree-tracker">tree trackers</a>, you can use it to check which cards have missing nodes.
				ul#cardTab.nav.nav-tabs(role="tablist")
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="strength-tab" data-toggle="tab" href="#strength" role="tab" aria-controls="strength" aria-selected="false">Strength</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Skills</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="tree-tab" data-toggle="tab" href="#tree" role="tab" aria-controls="tree" aria-selected="false">Devil's tree</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="animation-tab" data-toggle="tab" href="#animation" role="tab" aria-controls="animation" aria-selected="false">UR+ Animation</a>
					</li>
				div#cardTabContent.tab-content.py-3.px-md-3
					div#general.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="general-tab")
						form.form-row
							div.form-group.col-12.col-md-6
								label(for="name") Name
								input(class='form-control' type="text" id="name" name="name" value=card?card.name:'' readonly=(user.isAdmin?false:true))
							div.form-group.col-12.col-md-6
								label(for="ja_name") Japanese Name
								input(class='form-control' type="text" id="ja_name" name="ja_name" value=card?card.ja_name:'???')
							div(class='form-group col-12'+(user.isAdmin?'':" d-none"))
								label(for="uniqueName") Unique name
								input(class='form-control' type="text" id="uniqueName" name="uniqueName" value=card?card.uniqueName:'')
								small(class='form-text text-muted') Must use underscore instead of spaces, can't use \/:*?"<>|
							div.col-12
								label How to get
								div.form-inline
									div#source
										if card && card.source.length !== 0
											each i in card.source
												input(class="form-control" type="text" value=i)
										else
											input(class="form-control" type="text" value="???")
									button#removeEvent.btn.text-primary(type="button" data-target="#source") &minus;
									button#addEvent.btn.text-primary(type="button" data-target="#source") &plus;
								p.small.text-muted Example lesson source: Hard (3-13, 3-14, 3-15)
							div.form-group.col-12
								label(for="type") Type
								select(class='custom-select' id="type" name="type")
									option(value='Demon' selected=(card?card.type==='Demon':true)) Demon
									option(value='Memory' selected=(card?card.type==='Memory':false)) Memory
							div.form-group.col-12
								label(for="rarity") Rarity
								select(class='custom-select' id="rarity" name="rarity")
									option(value='N' selected=(card?card.rarity==='N':true)) N
									option(value='R' selected=(card?card.rarity==='R':false)) R
									option(value='SR' selected=(card?card.rarity==='SR':false)) SR
									option(value='SSR' selected=(card?card.rarity==='SSR':false)) SSR
									option(value='UR' selected=(card?card.rarity==='UR':false)) UR
									option(value='UR+' selected=(card?card.rarity==='UR+':false)) UR+
							div.form-group.col-12
								label(for="attribute") Attribute
								select(class='custom-select' id="attribute" name="attribute")
									option(value='Pride' selected=(card?card.attribute==='Pride':true)) Pride
									option(value='Greed' selected=(card?card.attribute==='Greed':false)) Greed
									option(value='Envy' selected=(card?card.attribute==='Envy':false)) Envy
									option(value='Wrath' selected=(card?card.attribute==='Wrath':false)) Wrath
									option(value='Lust' selected=(card?card.attribute==='Lust':false)) Lust
									option(value='Gluttony' selected=(card?card.attribute==='Gluttony':false)) Gluttony
									option(value='Sloth' selected=(card?card.attribute==='Sloth':false)) Sloth
							div.form-group.col-12
								label Characters
								each character in ALL_CHARACTERS
									div.custom-control.custom-checkbox
										input.custom-control-input(id=character type="checkbox" name="characters" value=character checked=(card?card.characters.includes(character):false))
										label.custom-control-label(for=character)= character
							div(class='form-group col-12'+(user.isAdmin?'':" d-none"))
								label(for="number") Number
								input(class='form-control' type="text" id="number" name="number" value=card?card.number:'')
							if !card
								div.col-12
									div(class='custom-control custom-checkbox'+(user.isAdmin?'':" d-none"))
										input(class='custom-control-input' type="checkbox" id="isHidden" name="isHidden")
										label(class='custom-control-label' for="isHidden") Hidden card
						if user.type === "Admin"
							hr
							div.row
								div.col-12.col-md-4
									div(class='input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary')
										input(id="uploadL" type="file" class="form-control border-0 upload" accept=".jpg")
										label(for="uploadL" class="font-weight-light text-muted uploadLabel") Original image
										div(class="input-group-append")
											label(for="uploadL" class="btn btn-light m-0 rounded-pill px-4")
												svg(width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="#4e5761" xmlns="http://www.w3.org/2000/svg" style='position: relative; right: 4px;')
													path(fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z")
													path(fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z")
												small(class="text-uppercase font-weight-bold text-muted") Choose file
								div.col-12.col-md-4
									div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
										input(id="uploadLB" type="file" class="form-control border-0 upload" accept=".jpg")
										label(for="uploadLB" class="font-weight-light text-muted uploadLabel") Bloomed image
										div(class="input-group-append")
											label(for="uploadLB" class="btn btn-light m-0 rounded-pill px-4")
												svg(width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="#4e5761" xmlns="http://www.w3.org/2000/svg" style='position: relative; right: 4px;')
													path(fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z")
													path(fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z")
												small(class="text-uppercase font-weight-bold text-muted") Choose file
								div.col-12.col-md-4
									div(class="input-group mb-2 px-2 py-2 rounded-pill bg-white shadow-sm border border-primary")
										input(id="uploadS" type="file" class="form-control border-0 upload" accept=".jpg")
										label(for="uploadS" class="font-weight-light text-muted uploadLabel") Preview image
										div(class="input-group-append")
											label(for="uploadS" class="btn btn-light m-0 rounded-pill px-4")
												svg(width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cloud-upload" fill="#4e5761" xmlns="http://www.w3.org/2000/svg" style='position: relative; right: 4px;')
													path(fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z")
													path(fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z")
												small(class="text-uppercase font-weight-bold text-muted") Choose file
							div(class='row mx-0 mb-4')
								div.col-12.col-md-4
									div(class="image-area mt-2 h-100")
										div(style='position: relative')
											if card
												img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + ".jpg")
											else
												img(id="imageResultL" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="#")
								div.col-12.col-md-4
									div(class="image-area mt-2 h-100")
										div(style='position: relative')
											if card
												img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="/images/cards/L/" + card.uniqueName + "_b.jpg")
											else
												img(id="imageResultLB" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" src="#")
								div.col-12.col-md-4
									div(class="image-area mt-2 h-100 d-flex")
										div(class=' mx-auto align-self-center' style='position: relative')
											if card
												img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm d-block" style='max-width: 120px;' src="/images/cards/S/" + card.uniqueName + ".jpg")
											else
												img(id="imageResultS" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" style='max-width: 120px;' src="#")
					div#strength.tab-pane.fade(role="tabpanel" aria-labelledby="strength-tab")
						form
							div.table-responsive-lg
								table.table
									thead
										tr
											th(scope="col")
											th(scope="col" style="min-width:128px;") Min
											th(scope="col" style="min-width:128px;") Max
											th(scope="col" style="min-width:128px;") Full devil's tree unlocked
									tbody
										each attribute in ["pride", "greed", "envy", "wrath", "lust", "gluttony", "sloth"]
											tr
												- str = attribute.charAt(0).toUpperCase() + attribute.slice(1);
												th(scope="row")= t(str)
												td
													input.form-control(type="number" name=attribute value=(card&&card.strength&&card.strength[attribute]?card.strength[attribute].min:0))
												td
													input.form-control(type="number" name=attribute value=(card&&card.strength&&card.strength[attribute]?card.strength[attribute].max:0))
												td
													input.form-control(type="number" name=attribute value=(card&&card.strength&&card.strength[attribute]?card.strength[attribute].fdt:0))
					div#skills.tab-pane.fade(role="tabpanel" aria-labelledby="skills-tab")
						div.alert.alert-info(style="z-index:0!important;")
							strong Important!!
							br
							p Skills here must be LV.1/10 <u>and</u> descriptions must be exactly same as in-game, down to every capitalization and decimal place. Small mistake here will lead to wrong result when searching by skills. Please be careful. Thank you!
							p.mb-0 Exception: Please remove "Effect: " at the beginning of Special Skill descriptions, but everything else must be exact same as in-game.
						if !card || !card.skills || card.skills.length === 0
							+skillTemplate({ skillType: "Special Skill", title: '', description: '' })
							+skillTemplate({ skillType: "Ability", title: '', description: '' })
							+skillTemplate({ skillType: "Auto Skill", title: '', description: '' })
						else
							if card.type === "Demon"
								- specialSkill = card.skills.find(x => x.skillType === "Special Skill");
								if specialSkill
									+skillTemplate(specialSkill)
								else
									+skillTemplate({ skillType: "Special Skill", title: '', description: '' })
								- ability = card.skills.find(x => x.skillType === "Ability");
								if ability
									+skillTemplate(ability)
								else
									+skillTemplate({ skillType: "Ability", title: '', description: '' })
							else
								if card.skills && card.skills.length > 0
									+skillTemplate(card.skills[0])
								else
									+skillTemplate({ skillType: "Auto Skill", title: '', description: '' })
					div#tree.tab-pane.fade(role="tabpanel" aria-labelledby="tree-tab")
						h5 Devil's tree
						if card && card.dt
							-
								rewardNodes = card.dt.filter(x => x.type !== "level_up" && x.type !== "flower").sort((a, b) => {
									if (!a.grimmCost) return 1;
									if (!b.grimmCost) return -1;
									return a.grimmCost - b.grimmCost;
								});
								levelUpNodes = card.dt.filter(x => x.type === "level_up");
								flowerNode = card.dt.filter(x => x.type === "flower");
						else
							- rewardNodes = [];
							- levelUpNodes = [];
							- flowerNode = [];
						p: a.h5(data-toggle="collapse" href="#rewardCollapse" aria-expanded="true" aria-controls="rewardCollapse") Rewards
							|
							| <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">   <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>
						div#rewardCollapse.collapse.show
							if card
								- cardName = card.name
							else
								- cardName = "The Mammon Way"
							div.alert.alert-warning(style="z-index:0!important;")
								div: strong Naming nodes!!
								p Use <u>???</u> as reward name if you don't know the name. This applies for all nodes, including icons! If you don't know the character behind an icon, put <u>???</u> as the name. Thank you!!
								div: strong Icons and UR+ animations
								p.mb-0 Demon cards: <u>#{cardName} (Locked)</u> means the original/ devil's flower locked icon, <u>#{cardName} (Unlocked)</u> means the flower unlocked icon. <br>Memory cards: card name + (character name) (e.g., <u>#{cardName} (Mammon)</u>).
							div
								div
									each node in rewardNodes
										+treeTemplate(node)
								button.btn.btn-primary.add-item.mb-3(type="button" data-clone="template#dt") Add node
						p: a.h5(data-toggle="collapse" href="#leveUpCollapse" aria-expanded="true" aria-controls="leveUpCollapse") Level up + flower
							|
							| <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">   <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>
						div#leveUpCollapse.collapse.show
							-
								rar = {
									"N": 1,
									"R": 2,
									"SR": 3,
									"SSR": 4,
									"UR": 5,
									"UR+": 5
								}
							//- hopefully there aren't any cards with missing level_up nodes (i.e., lv.10, lv.30, lv.40, missing lv.20)
							//- can't add level_up nodes from blank template
							if card
								while levelUpNodes.length < rar[card.rarity]
									- levelUpNodes.push({ reward: `Lv.${levelUpNodes.length + 1}0 Rank Up`, requirements: [], grimmCost: '' });
							each node in levelUpNodes
								form.form-row
									div.d-none: input(type="text" name="_id" value=node._id readonly)
									div.d-none: input(type="number" name="nodeOrder" value=0)
									div.form-group.col-12.col-md-6.col-lg-3
										label Level
										input.form-control(type="number" value=(node.reward.replace("Lv.", "").replace("Rank Up", "").trim()) name="reward" readonly)
									div.d-none: input(type="number" value=1 name="count")
									div.d-none: input(type="text" name="type" value="level_up")
									div.form-group.col-12.col-md-6.col-lg-3
										label Grimm cost
										input.form-control(type="number" name="grimmCost" value=node.grimmCost)
									div.form-group.col-12.mb-0
										label Requirements
										+treeCostTemplate(node.requirements)
								hr
							if flowerNode.length === 0
								- flowerNode = { requirements: [], grimmCost: '' }
							else
								- flowerNode = flowerNode[0];
							if card && card.type === "Demon"
								h5 Devil's Flower
								form.form-row
									div.d-none: input(type="number" name="nodeOrder" value=0)
									div.d-none: input(type="text" value="Devil's Flower" name="reward")
									div.d-none: input(type="number" value=1 name="count")
									div.d-none: input(type="text" name="type" value="flower")
									div.form-group.col-12.col-md-6.col-lg-3
										label Grimm cost
										input.form-control(type="number" name="grimmCost" value=flowerNode.grimmCost)
									div.form-group.col-12.mb-0
										label Requirements
										+treeCostTemplate(flowerNode.requirements)
					div#animation.tab-pane.fade(role="tabpanel" aria-labelledby="animation-tab")
						div.form-check
							input.form-check-input(type="radio" name="animationType" id="inlineRadio1" value="" checked=(!card||!card.animation))
							label.form-check-label(for="inlineRadio1") n/a
						div.form-check
							input.form-check-input(type="radio" name="animationType" id="inlineRadio2" value="battle" checked=(card&&card.animation&&card.animation==="battle"))
							label.form-check-label(for="inlineRadio2") dance battle/skills animation
						div.form-check
							input.form-check-input(type="radio" name="animationType" id="inlineRadio3" value="homescreen" checked=(card&&card.animation&&card.animation==="homescreen"))
							label.form-check-label(for="inlineRadio3") homescreen/moving picture
				hr
				button#submit.btn.btn-primary.mr-2(type="submit") Save
				span#cd

	template#dt
		+treeTemplate()

	if pendingSuggestion
		script.
			function submitChange() {
				showAlert("danger", "Action not allowed!");
			}
	else
		if user.type === "Admin"
			script.
				function readImage(upload) {
					return new Promise((resolve, reject) => {
						if (upload.files && upload.files[0]) {
							let reader = new FileReader();
							reader.onloadend = function (e) {
								resolve(e.target.result);
							};
							try {
								reader.readAsDataURL(upload.files[0]);
							} catch(err) {
								reject(err);
							}
						} else {
							resolve('');
						}
					});
				}
				function prepareCardImages() {
					var images = { L: '', LB: '', S: '' };
					var readL = readImage($('#uploadL')[0]);
					var readLB = readImage($('#uploadLB')[0]);
					var readS = readImage($('#uploadS')[0]);

					Promise.all([readL, readLB, readS]).then(values => {
						if (values[0]) images.L = values[0];
						if (values[1]) images.LB = values[1];
						if (values[2]) images.S = values[2];
						sendRequest(images);
					}, reason => {
						showAlert("danger", "Can't load images\n" + reason.message);
					});
				}
				function submitChange(e) {
					e.preventDefault();
					if (!validateFields()) {
						return;
					}
					prepareCardImages();
				}
				function sendRequest(images) {
					$.post(location.pathname, {
						cardData: getCardData(),
						images: images
					}, function(result) {
						if (result.err) {
							showAlert("danger", result.message);
							return;
						}
						showAlert("success", result.message);
					});
				}
		else if user.supportStatus.some(badge => badge.name === "trustedContributor")
			script.
				function submitChange(e) {
					e.preventDefault();
					let newData = JSON.stringify(getCardData());
					if (newData === originalData) {
						setCD(20);
						showAlert("warning", "You didn't make any change.")
						return;
					}
					if (!validateFields()) {
						return;
					}
					setCD(60);
					$.post(location.pathname, {
						cardData: getCardData(),
						images: null
					}, function(result) {
						if (result.err) {
							showAlert("danger", result.message);
							return;
						}
						showAlert("success", result.message);
					});
				}
		else
			<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="suggestionModalLabel">Suggestion submitted :)</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						div.modal-body
							p Thank you for your edit!
							p If you would like to know the status of your edit, please check the
								|
								|
								a(href="/suggestion") pending edits' page
								| .
							h5 IMPORTANT:
							p If you make a new edit on the same page, <u>it will overwrite your previous edit</u>! So, make sure submit all of your edits at once!
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			script.
				function submitChange() {
					let newData = JSON.stringify(getCardData());
					if (newData === originalData) {
						setCD(20);
						showAlert("warning", "You didn't make any change.")
						return;
					}
					setCD(60);
					$.post("/suggestion/add", {
						page: location.pathname.replace("/edit", ''),
						data: newData
					}, function(result) {
						if (result.err) {
							showAlert("danger", result.message);
							return;
						}
						$("#suggestionModal").modal("show");
					});
				}

	style.
		@media screen and (max-width: 720px) {
			body {
				background: rgb(255,254,255) !important;
			}
			.card {
				box-shadow: none !important;
				background: transparent !important;
			}
			.card-body {
				padding: 0 !important;
				margin: 0 !important;
			}
		}
		a[data-toggle="collapse"][aria-expanded="true"] .bi.bi-chevron-down {
			transform: rotate(180deg);
		}
