extends layout

block content
  div(id="successAlert" class="alert alert-success" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Card successfully added to your collection
  div(id="failAlert" class="alert alert-danger" role="alert" style="position: fixed; z-index: 2; right: 20px; display: none; top: -100px") Something went wrong, please reload the page
  div.container
    div.row.text-left.mb-3
      div.col-12
        h2.text-primary.pb-2(style='border-bottom: 2px solid; border-color: #8d6fe2;') #{card.name}
    div.row
      //- Mobile/ Tablet Screen
      if user
        div(class="d-flex justify-content-center mx-auto col-sm-6 d-md-none" style="margin-bottom:10px;")
          button.btn.btn-primary.addCardButton(type="button" data-toggle="button" autocomplete="off" aria-pressed="false" style= "display: none") Add to collection
          button.btn.btn-primary.removeCardButton(type="button" data-toggle="button" autocomplete="off" aria-pressed="false" style= "display: none") Remove from collection

      div(class="d-block d-lg-none col-12 col-md-7")
        if card.type == "Demon"
          div(class="card text-center")
            div.card-header
              ul(class="nav nav-pills card-header-pills nav-justified")
                li.nav-item
                  a(class="nav-link active" id="original-card-tab" data-toggle="tab" href="#originalCard" role="tab" aria-controls="original" aria-selected="true") Original
                li.nav-item
                  a(class="nav-link" id="bloomed-card-tab" data-toggle="tab" href="#bloomedCard" role="tab" aria-controls="bloomed" aria-selected="false") Bloomed
        div.tab-content.mb-3(id="cardToggle")
            div(class="tab-pane fade show active" id="originalCard" role="tabpanel" aria-labelledby="original-card-tab")
              img.card-img(src="/images/cards/L/" + card.uniqueName + ".jpg")
            div(class="tab-pane fade" id="bloomedCard" role="tabpanel" aria-labelledby="bloomed-card-tab")
              img.card-img(src="/images/cards/L/" + card.uniqueName + "_b.jpg")
      //- Desktop Screen
      div(class="d-none d-lg-block col-4")
        div.card.bg-transparent
          div.card-body.pt-0
            img.card-img(src="/images/cards/L/" + card.uniqueName + ".jpg")
      if card.type == "Demon"
        div(class="d-none d-lg-block col-4")
          div.card.bg-transparent
            div.card-body.pt-0
              img.card-img(src="/images/cards/L/" + card.uniqueName + "_b.jpg")
      //- Info
      div(class="col-12 col-md-5 col-lg-4")
        div.card(class="shadow rounded mb-3")
          div.card-body
            p #[strong Type:] #{card.type} card
            p #[strong Rarity:] #{card.rarity}
            p #[strong Attribute:] #{card.attribute}
            p #[strong Characters: ]
               each val, index in card.characters
                |#{val}
                if index < card.characters.length - 1
                  |,&nbsp;
        if user
          div(class='d-none d-md-block' style="margin:10px 0;")
              button.btn.btn-primary.addCardButton(type="button" data-toggle="button" autocomplete="off" aria-pressed="false" style= "display: none") Add to collection
              button.btn.btn-primary.removeCardButton(type="button" data-toggle="button" autocomplete="off" aria-pressed="false" style= "display: none") Remove from collection


  script(src="/javascripts/cardDetailFunctions.js")
  script.
    var cardName = !{JSON.stringify(card.uniqueName)};
    var hasCard = !{JSON.stringify(hasCard)};
