extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/cardDetailStyle.css")
  script.
    var i18next = { "collected_count": "#{t("cards.collected_count", { percentage: "undefined" })}", "favourite_count": "!{t("cards.favourite_count", { percentage: "undefined" })}" };

block content
  if user
    div#alert(role="alert")
    if user.type === "Admin"
      div(class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-body") Are you sure you want to delete this card?
            div(class="modal-footer")
              a(role="button" href=card.uniqueName+"/delete" class="btn btn-danger text-light") Delete
              button(type="button" class="btn btn-secondary text-light" data-dismiss="modal") Cancel
  div.container
    h2= title
    div.row
      //- Mobile/ Tablet Screen
      if user && !isHidden
        div(class="col-12 d-flex justify-content-between d-md-none" style="margin-bottom:10px;")
          button.btn.btn-primary.owned(type="button") collection
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" stroke="black" class="bi bi-star-fill favourites" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>

      div(class="d-block d-lg-none col-12 col-md-7")
        if card.type == "Demon"
          div(class="card text-center")
            div.card-header
              ul(class="nav nav-pills card-header-pills nav-justified")
                li.nav-item
                  a(class="nav-link active" id="original-card-tab" data-toggle="tab" href="#originalCard" role="tab" aria-controls="original" aria-selected="true")= t("cards.original")
                li.nav-item
                  a(class="nav-link" id="bloomed-card-tab" data-toggle="tab" href="#bloomedCard" role="tab" aria-controls="bloomed" aria-selected="false")= t("cards.bloomed")
        div#cardToggle.tab-content.mb-3
          div(class="tab-pane fade show active" id="originalCard" role="tabpanel" aria-labelledby="original-card-tab")
            a(href="/images/cards/L/" + card.uniqueName + ".jpg")
              img.card-img(src="/images/cards/L/" + card.uniqueName + ".jpg")
          if card.type == "Demon"
            div(class="tab-pane fade" id="bloomedCard" role="tabpanel" aria-labelledby="bloomed-card-tab")
              a(href="/images/cards/L/" + card.uniqueName + "_b.jpg")
                img.card-img(src="/images/cards/L/" + card.uniqueName + "_b.jpg")
      //- Desktop Screen
      div.d-none.d-lg-block.col-4(style="padding:0 2rem 0;")
        a(href="/images/cards/L/" + card.uniqueName + ".jpg")
          img.w-100(src="/images/cards/L/" + card.uniqueName + ".jpg")
      if card.type === "Demon"
        div.d-none.d-lg-block.col-4(style="padding:0 2rem 0;")
          a(href="/images/cards/L/" + card.uniqueName + "_b.jpg")
            img.w-100(src="/images/cards/L/" + card.uniqueName + "_b.jpg")
      //- Info
      div(class="col-12 col-md-5 col-lg-4")
        div.card
          div.card-body
            p #[strong #{t("cards.type")}:] #{t("cards."+card.type)}
            p #[strong #{t("cards.rarity")}: ]
              a(href="/cards?rarity="+card.rarity.replace('+', 'p'))= card.rarity
            p #[strong #{t("cards.attribute")}: ]
              a(href="/cards?attribute="+card.attribute)= t(card.attribute)
            p #[strong #{card.characters.length>1?t("cards.characters"):t("cards.character")}: ]
              each val, index in card.characters
                a(href="/cards?character="+(val==="Little D"?"LittleD":val))= t(val)
                if index < card.characters.length - 1
                  | ,
                  |
            p #[strong #{t("cards.source")}: ]
              each val, index in card.source.length ? card.source : ["???"]
                if val !== "???"
                  a(href="/event/"+card.source_link[index])= val
                  if index < card.source.length - 1
                    | ,
                    |
                else
                  | ???
            hr
            if !isHidden
              p.ownedCount= t("cards.collected_count", { percentage: stats.ownedTotal })
              p.favedCount !{t("cards.favourite_count", { percentage: stats.favedTotal })}
            if user
              div(class='d-none d-md-block')
                hr
                if !isHidden
                  div.d-flex.align-items-center.justify-content-between
                    button.btn.btn-primary.owned(type="button") collection
                    <svg id="star" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" stroke="black" class="bi bi-star-fill favourites" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
              if user.type === "Admin"
                if !isHidden
                  div.mt-2
                    a.btn.btn-primary.editCardButton(role="button" href=card.uniqueName+"/edit") Edit card
                else
                  div.mt-2
                    a.btn.btn-primary.editCardButton(role="button" href=card.uniqueName+"/makePublic") Make public
                div.mt-2
                  button.btn.btn-primary.editCardButton(data-toggle='modal' data-target="#confirmDelete") Delete card

  if user && !isHidden
    style.
      .owned.addCardButton:before {
        content: "Add to ";
      }
      .owned.removeCardButton:before {
        content: "Remove from ";
      }
      .favourites.removeCardButton {
        stroke: #FFC300;
        fill: #FFC300;
      }
    script(src="/javascripts/cardDetailFunctions.js")
    script.
      var cardName = !{JSON.stringify(card.uniqueName)};
      var stats = !{JSON.stringify(stats)};
