- var page_user = title==="My Collection"?"Me":title.slice(0, -13)
mixin percentBar(owned, total, name)
  - const colours = {Lucifer:"#64B5F6", Mammon:"#FFF176", Leviathan:"#FF8A65", Satan:"#AED581", Asmodeus:"#F06292", Beelzebub:"#EF5350", Belphegor:"#9575CD", Diavolo:"#D32F2F", Barbatos:"#00BFA5", Luke:"#FDD835", Simeon:"#26C6DA", Solomon:"#BDBDBD", "Little D":"#1c1c1c", N:"#d1d1d1", R:"#ed86ac", SR:"#aea4e8", SSR:"#ffe16b", UR:"#ffe16b", URp:"#ffe16b", Pride:"rgb(52,123,253)", Greed:"#ffbc11", Envy:"#ff7e00", Wrath:"#21c38c", Lust:"rgb(240,84,177)", Gluttony:"rgb(230,64,56)", Sloth:"rgb(181,65,230)"};
  - var percentage = Math.floor(owned / total * 100);
  span= name
  small(style='display:inline-flex;') &nbsp;- #{owned} of #{total} (#{percentage}%)
    if percentage >= 100
      | &nbsp;
      img(src='/images/completion_star.png' style='height: 1.5em; width: auto;')
  div.progress.mb-1
    div(id="bar"+name.replace('+', 'p') class="progress-bar" role="progressbar" style={width: percentage + '%', background: colours[name.replace('+', 'p')]} aria-valuenow=percentage aria-valuemin="0" aria-valuemax="100")
      if name==='UR+'
        div(id='barAnimated')
          div(id="barCoverURp" style={width: (100 - percentage) + '%'})
      if name==='UR'
        div(id="barCoverUR" style={width: (100 - percentage) + '%'})

div(class="modal fade" id="openLink" tabindex="-1" role="dialog" aria-labelledby="openShareLink" aria-hidden="true")
  div(class="modal-dialog modal-lg" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title text-primary" id="openShareLink") Share
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body mb-2")
        div.input-group
          input(type="text" id="userLink" class="form-control" aria-label="user's collection link" aria-describedby="user link" disabled)
          div.input-group-append
            button#copyLink.btn.btn-primary(style="border-radius:0 4px 4px 0;") Copy
        div.text-center.text-secondary.mt-2 Stats image to copy and share
        div(class='d-flex justify-content-center align-items-center mt-3' id='statsImageContainer')
          div(id='statsSpinner' class="spinner-border text-secondary" role="status" style='display: none')
          img(id='statsImage' class='img-fluid')
          div(id='statsMessage')

div#statsCard.card.card-body.shadow.mb-3
  ul.nav.nav-tabs.mb-4
    li.nav-item
      a.nav-link.text-muted(href="profile") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person mb-1" viewBox="0 0 16 16">   <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/> </svg>
        |
        |
        span.d-none.d-lg-inline Profile
    li.nav-item
      a.nav-link.active.text-primary(href="#") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person mb-1" viewBox="0 0 16 16">   <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>   <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/> </svg>
        |
        |
        span.d-none.d-lg-inline Cards
    li.nav-item
      a.nav-link.text-muted(href="favourites") <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mb-1" viewBox="0 0 16 16">   <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> </svg>
        |
        |
        span.d-none.d-lg-inline Favourites
  if title === "My Collection"
    script(src="/javascripts/shareProfile.js" defer)
    div(style="position:absolute;right:1.25rem;")
      button(type="button" id="shareLink" class="btn btn-primary" data-toggle="modal" data-target="#openLink")
        <svg class="bi bi-share mb-1" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/></svg>
        |
        | Share
  div.row
    //- first mx-auto is needed for current share stats image
    div#statsTotal.container.col-lg-4.mx-auto.mb-3.mb-lg-0
      div.row.text-center.mx-auto.align-items-center
        div.col-6
          h5.text-primary.mb-0 Demon
          - var demonPercentage = Math.floor(cardStats.cards.Demon.owned / cardStats.cards.Demon.total * 100);
          div(style="position:relative;")
            img.img-fluid.p-2(src="/images/demon_card.png" style="max-width:120px;width:100%;")
            div#demonblend
          div.d-none.d-sm-block #{cardStats.cards.Demon.owned} of #{cardStats.cards.Demon.total}
          small.d-block.d-sm-none #{cardStats.cards.Demon.owned} of #{cardStats.cards.Demon.total}
          small.text-muted #{demonPercentage}%
        div.col-6
          h5.text-primary.mb-0 Memory
          - var memoryPercentage = Math.floor(cardStats.cards.Memory.owned / cardStats.cards.Memory.total * 100);
          div(style="position:relative;")
            img.img-fluid.p-2(src="/images/memory_card.png" style="max-width:120px;width:100%;")
            div#memoryblend
          div.d-none.d-sm-block #{cardStats.cards.Memory.owned} of #{cardStats.cards.Memory.total}
          small.d-block.d-sm-none #{cardStats.cards.Memory.owned} of #{cardStats.cards.Memory.total}
          small.text-muted #{memoryPercentage}%

    div.col-lg-8
      div.nav.nav-pills.mb-2(id='statsNavTab' role='tablist')
        a.nav-item.nav-link.active(id='charNavTab' data-toggle='tab' href='#charNav' role='tab' aria-controls="charNav" aria-selected="true") Characters
        a.nav-item.nav-link(id='sideCharNavTab' data-toggle='tab' href='#sideCharNav' role='tab' aria-controls="sideCharNav" aria-selected="true") Side characters
        a.nav-item.nav-link(id='rarityNavTab' data-toggle='tab' href='#rarityNav' role='tab' aria-controls="rarityNav" aria-selected="true") Rarity
        a.nav-item.nav-link(id='attrNavTab' data-toggle='tab' href='#attributeNav' role='tab' aria-controls="attributeNav" aria-selected="true") Attribute
      div#statsNavContent.tab-content
        div.container.tab-pane.fade.px-0.show.active(id='charNav' role='tabpanel' aria-labelledby='charNavTab')
          div.row
            div.col-md-6
              +percentBar(cardStats.characters.Lucifer.owned, cardStats.characters.Lucifer.total, "Lucifer")
              +percentBar(cardStats.characters.Mammon.owned, cardStats.characters.Mammon.total, "Mammon")
              +percentBar(cardStats.characters.Leviathan.owned, cardStats.characters.Leviathan.total, "Leviathan")
              +percentBar(cardStats.characters.Satan.owned, cardStats.characters.Satan.total, "Satan")
            div.col-md-6
              +percentBar(cardStats.characters.Asmodeus.owned, cardStats.characters.Asmodeus.total, "Asmodeus")
              +percentBar(cardStats.characters.Beelzebub.owned, cardStats.characters.Beelzebub.total, "Beelzebub")
              +percentBar(cardStats.characters.Belphegor.owned, cardStats.characters.Belphegor.total, "Belphegor")
        div.container.tab-pane.fade.px-0(id='sideCharNav' role='tabpanel' aria-labelledby='sideCharNavTab')
          div.row
            div.col-md-6
              +percentBar(cardStats.characters.Diavolo.owned, cardStats.characters.Diavolo.total, "Diavolo")
              +percentBar(cardStats.characters.Barbatos.owned, cardStats.characters.Barbatos.total, "Barbatos")
              +percentBar(cardStats.characters.Luke.owned, cardStats.characters.Luke.total, "Luke")
              +percentBar(cardStats.characters.Simeon.owned, cardStats.characters.Simeon.total, "Simeon")
            div.col-md-6
              +percentBar(cardStats.characters.Solomon.owned, cardStats.characters.Solomon.total, "Solomon")
              +percentBar(cardStats.characters["Little D"].owned, cardStats.characters["Little D"].total, "Little D")
        div.container.tab-pane.fade.px-0(id='rarityNav' role='tabpanel' aria-labelledby='rarityNavTab')
          div.row
            div.col-md-6
              +percentBar(cardStats.rarity.N.owned, cardStats.rarity.N.total, "N")
              +percentBar(cardStats.rarity.R.owned, cardStats.rarity.R.total, "R")
              +percentBar(cardStats.rarity.SR.owned, cardStats.rarity.SR.total, "SR")
              +percentBar(cardStats.rarity.SSR.owned, cardStats.rarity.SSR.total, "SSR")
            div.col-md-6
              +percentBar(cardStats.rarity.UR.owned, cardStats.rarity.UR.total, "UR")
              +percentBar(cardStats.rarity.URp.owned, cardStats.rarity.URp.total, "UR+")
        div.container.tab-pane.fade.px-0(id='attributeNav' role='tabpanel' aria-labelledby='attrNavTab')
          div.row
            div.col-md-6
              +percentBar(cardStats.attribute.Pride.owned, cardStats.attribute.Pride.total, "Pride")
              +percentBar(cardStats.attribute.Greed.owned, cardStats.attribute.Greed.total, "Greed")
              +percentBar(cardStats.attribute.Envy.owned, cardStats.attribute.Envy.total, "Envy")
              +percentBar(cardStats.attribute.Wrath.owned, cardStats.attribute.Wrath.total, "Wrath")
            div.col-md-6
              +percentBar(cardStats.attribute.Lust.owned, cardStats.attribute.Lust.total, "Lust")
              +percentBar(cardStats.attribute.Gluttony.owned, cardStats.attribute.Gluttony.total, "Gluttony")
              +percentBar(cardStats.attribute.Sloth.owned, cardStats.attribute.Sloth.total, "Sloth")
      div.small.text-muted.mt-3 Percentage is calculated based on the entire collection (both demon and memory cards).

style.
  #demonblend, #memoryblend {
    position: absolute;
    top: calc(.5rem + 4px); /* adds padding to align with top of image */
    width: 100%;
    background-color: white;
    mix-blend-mode: saturation;
  }
  /**
   * first find element height without padding (100% - 1rem - 8px)
   * then, multiply by percentage missing to create the blend
   */
  #demonblend {
    height: calc((100% - 1rem - 8px) * #{(100 - demonPercentage)/100});
  }
  #memoryblend {
    height: calc((100% - 1rem - 8px) * #{(100 - memoryPercentage)/100});
  }
