extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/event.css")
	script(src="/javascripts/eventPageFunctions.js")
	script.
		var event = !{JSON.stringify(event)};

block content
	.container
		h1= t("lang")==="en"?event.name:event.ja_name
		
		// Cards
		if event.rewards.filter(r => r.card).length > 0
			.card.shadow.px-4.py-3.mb-4
				h5= t("events.cards")
				.row
					each reward in event.rewards
						if reward.card
							.d-none.d-md-block.col(style=`min-width: 16.5%; max-width: ${100/event.rewards.length}%`)
								a.text-center.m-0.text-black-50(href="../card/"+encodeURIComponent(reward.card.name.replace(/ /g, '_')))
									img.img-fluid.d-none.d-md-flex(src="/images/cards/L/" + reward.card.uniqueName + ".jpg")
									figcaption.my-1= t("lang")==="en"?reward.card.name:reward.card.ja_name
							.d-block.d-md-none.col-4
								a.text-center.m-0.text-black-50(href="../card/"+encodeURIComponent(reward.card.name.replace(/ /g, '_')))
									img.img-fluid.d-flex.d-md-none.w-100(src="/images/cards/S/" + reward.card.uniqueName + ".jpg" style="max-width: 110px")
									figcaption.my-1= t("lang")==="en"?reward.card.name:reward.card.ja_name

		// Calculator
		if event.type === "Lonely Devil" || (event.type === "Pop Quiz" && (event.start <= new Date() && event.end >= new Date()))
			.card.shadow.p-4.mb-4
				h5= t("events.calculator")
				.form-row.mb-4.mt-2
					.col-6.col-md-3.mr-1.mr-md-5.mb-3.mb-md-0
						// TODO move .underline-input to common stylesheet
						input.form-control.underline-input#currentPoints(type="number" aria-label="Current Points" required)
						span.floating-label= t("events.currentPoints")
					.col-6.col-md-3.ml-0.ml-md-5
						input.form-control.underline-input#pointsPerBattle(type="number" aria-label="Points per battle" required)
						span.floating-label= t("events.pointsPerBattle")
				.row.text-center.border-bottom.border-secondary.mx-1.mb-2.pb-2
					.col.lead= t("events.rewardTitle")
					.col.lead= t("events.pointsTitle")
					.col.lead= t("events.battlesTitle")
					.col-1.d-flex.small.align-items-end Details
				each reward in event.rewards.filter(r => r.tag).sort((a, b) => a.points - b.points)
					-var tag = reward.tag.replace(" ", "")
					.row.mb-3.align-middle.collapser.align-items-center(id="reward_"+tag data-toggle="collapse" href="#details_"+tag role="button" aria-expanded="false" aria-controls="details_"+tag)
						.col
							if reward.card
								a.card-link(href="../card/"+encodeURIComponent(reward.card.name.replace(/ /g, '_')))= t("lang")==="en"?reward.card.name:reward.card.ja_name
							.small= reward.tag
						.col.text-center
							| #{reward.points.toLocaleString()}
						.col.text-center
							.result
							.small
						.col-1
							.text-dark
								|
								|
								<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>
					.collapse(id="details_"+tag)
						.mb-3.py-3.border-top.border-bottom.border-secondary
							table.table.table-sm.text-center.w-75.mx-auto.mb-5
								thead
									tr.text-white
										th.border-0.bg-secondary.lead.align-middle.rounded-left.w-15
										th.border-0.bg-secondary.lead.align-middle Daily
										th.border-0.bg-secondary.lead.align-middle Buy
										th.border-0.bg-secondary.lead.align-middle.rounded-right Total
								tbody
									tr
										th.h6.text-primary.p-2 Battles
										td.battle-daily
										td.battle-buy
										td.battle-total
									tr
										th.h6.text-primary.p-2 AP
										td.ap-daily
										td.ap-buy
										td.ap-total
							table.table.table-sm.text-center.w-75.mx-auto
								thead
									tr.text-white
										th.border-0.bg-secondary.lead.align-middle.rounded-left Reset time
										th.border-0.bg-secondary.lead.align-middle.rounded-right Points by the reset
								tbody.detailed-points
									tr
										th.h6.text-primary.p-2
										td
