extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/eventEdit.css")
	script(src="/javascripts/eventEdit.js")
	if data.start && data.end
		script.
			var start = "!{data.start.toISOString()}", end = "!{data.end.toISOString()}";
			if (navigator.userAgent.indexOf("Chrome") !== -1) {
				$("#start").val(start.substr(0, 16));
				$("#end").val(end.substr(0, 16));
			}

block content
	div#alert(role="alert")
	div.container
		h1= title
		div.card.shadow
			div.card-body
				h5 Event Info
				form
					div.form-row
						div.col-4
							div.form-group
								label(for="name") Name
								input#name.form-control(type="text" name="name" value=data.name)
							div.form-group
								label(for="ja_name") Japanese name
								input#ja_name.form-control(type="text" name="ja_name" value=data.ja_name)
							div.form-group
								label(for="img_name") Image name
								input#img_name.form-control(type="text" name="img_name" value=data.img_name)
						div.col-4
							div.form-group
								label(for="start") Start date (UTC)*
								input#start.form-control(type="datetime-local" name="start" value=data.start)
							div.form-group
								label(for="stages") Number of stages
								input#stages.form-control(type="number" name="stages" value=data.stages)
							div.form-group
								label(for="pageCost") Page cost
								input#pageCost.form-control(type="number" name="pageCost" value=data.pageCost)
						div.col-4
							div.form-group
								label(for="end") End date (UTC)*
								input#end.form-control(type="datetime-local" name="end" value=data.end)

							p.mb-0 Type
							div.form-check
								input#popquiz.form-check-input(type="radio" name="type" value="Pop Quiz" checked=data.type==="Pop Quiz")
								label.form-check-label(for="popquiz") Pop Quiz
							div.form-check
								input#lonelydevil.form-check-input(type="radio" name="type" value="Lonely Devil" checked=data.type==="Lonely Devil")
								label.form-check-label(for="lonelydevil") Lonely Devil
							div.form-check
								input#birthday.form-check-input(type="radio" name="type" value="Birthday" checked=data.type==="Birthday")
								label.form-check-label(for="birthday") Birthday
							div.form-check
								input#nightmare.form-check-input(type="radio" name="type" value="Nightmare" checked=data.type==="Nightmare")
								label(for="nightmare") Nightmare

						div.col-7
							div.custom-file
								input#img.custom-file-input(type="file" accept=".jpg")
								label.custom-file-label(for="img")= data.img_name?data.img_name+".jpg":"Choose File (must be .jpg)"
							div(style="display:flex;justify-content:center;align-items:center;background:aliceblue;border-radius:1rem;height:16rem;margin-top:.5rem;")
								img#preview(style="height:85%;width:auto;" src=data.img_name?"/images/events/"+data.img_name+".jpg":"")

						div.col-5.pl-5 *Notes
							ul
								li (Firefox only) time format: <span style="white-space:nowrap;">YYYY-MM-DDT00:00:00.000Z</span> example: <span style="white-space:nowrap;">2021-06-15T21:05:00.000Z</span>
								li pop quiz usually starts at 1:00am UTC, ends at... idk
								li nightmare also starts at 1:00am UTC, ends at... idk
				br
				h5 Rewards
					small.ml-2 Please remove empty rows before updating event
				form#rewards
					if data.rewards && data.rewards.length !== 0
						each reward in data.rewards
							div.form-inline
								input.form-control(type="text" placeholder="reward name" name="tag" value=reward.tag)
								input.form-control(type="number" placeholder="reward cost" name="points" value=reward.points)
								input.form-control(type="text" placeholder="card name (if applicable)" name="card" value=reward.card)
								button.btn.btn-outline-secondary(type="button") Remove
					else
						div.form-inline
							input.form-control(type="text" placeholder="reward name" name="tag")
							input.form-control(type="number" placeholder="reward cost" name="points")
							input.form-control(type="text" placeholder="card name (if applicable)" name="card")
							button.btn.btn-outline-secondary(type="button") Remove
				hr
				button#addReward.btn.btn-secondary(data-target="#rewards" data-clone="#rewardTemplate") Add reward
				br
				br
				h5 AP Rewards
					small.ml-2 Please remove empty rows before updating event
				form#AP
					if data.ap && data.ap.length !== 0
						each ap in data.ap
							div.form-inline
								input.form-control(type="number" placeholder="AP amount" name="amount" value=ap.amount)
								input.form-control(type="number" placeholder="AP cost" name="points" value=ap.points)
								input.form-control(type="number" placeholder="page (if non-repeating)" name="page" value=ap.page)
								button.btn.btn-outline-secondary(type="button") Remove
					else
						div.form-inline
							input.form-control(type="number" placeholder="AP amount" name="amount")
							input.form-control(type="number" placeholder="AP cost" name="points")
							input.form-control(type="number" placeholder="page (if non-repeating)" name="page")
							button.btn.btn-outline-secondary(type="button") Remove
				hr
				button#addAP.btn.btn-secondary(data-target="#AP" data-clone="#APTemplate") Add AP reward
				br
				br
				button#submit.btn.btn-primary Submit Change

			template#rewardTemplate
				div.form-inline
					input.form-control(type="text" placeholder="reward name" name="tag")
					input.form-control(type="number" placeholder="reward cost" name="points")
					input.form-control(type="text" placeholder="card name (if applicable)" name="card")
					button.btn.btn-outline-secondary(type="button") Remove

			template#APTemplate
				div.form-inline
					input.form-control(type="number" placeholder="AP amount" name="amount")
					input.form-control(type="number" placeholder="AP cost" name="points")
					input.form-control(type="number" placeholder="available page" name="page")
					button.btn.btn-outline-secondary(type="button") Remove
