extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/eventGallery.css")

block content
  -
    function getFormatedDate(d) {
      var day = d.getDate(), year = d.getFullYear();
      if (t("lang") === "en") {
        var month = d.toLocaleString('default', { month: 'long' });
        return `${day} ${month} ${year}`;
      } else {
        var month = d.getMonth();
        return `${year}年${month}月${day}日`;
      }
    }

    function getEventName(e) {
      if (t("lang") === "en") return e.name;
      return e.ja_name;
    }

  div.container
    h1= title
    ul#gallery
      each event in events
        li.col-12.col-sm-6.col-lg-4.mb-3
          div.card.shadow
            img.card-img-top(src="/images/events/" + event.img_name + ".jpg")
            div.card-body
              p.card-title
                a(href="event/"+getURL(event.name))= getEventName(event)
              small.text-muted= getFormatedDate(event.start) + " - " + getFormatedDate(event.end)
