extends layout

block scripts
	link(rel="stylesheet" href="/stylesheets/eventDetail.css")

block content
	.container
		h1= title
		div.card
			div#edit.pt-2.w-100.text-center
				a.btn.btn-outline-primary(type="button" href=event.name.en.replace(/ /g, "_")+"/edit")
					| <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">   <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>   <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/> </svg>
					|
					| Edit
			div.card-body
				div.row
					div.col-12.col-md-4.text-center.mb-3.mb-md-0
						img.img-fluid(src="/images/events/"+encodeURIComponent(event.name.en)+".jpg" onerror="this.onerror=null;this.src='/images/event_placeholder.jpg'" style="border-radius:2px;")
					div.col-12.col-md-8
						div.mb-2
							span(style="border-radius:16px;background:aliceblue;padding:.25rem 1rem;font-size:small;text-align:center;")= t("events." + event.type)
							if event.type === "PopQuiz" && event.isLonelyDevil
								span.ml-2(style="border-radius:16px;background:#fff8e1;padding:.25rem 1rem;font-size:small;text-align:center;") Lonely Devil
						p #{getFormatedDate(event.start)} &#8211; #{getFormatedDate(event.end)}
						p Duration: #{Math.ceil((event.end - event.start)/1000/60/60/24)}#{t("common.days")}
				if cards
					hr
					p.section-title Rewards
					div.row
						//- TODO: move this function to part of the db query.
						if (event.type === "PopQuiz" && event.rewardListType === "points" && event.listRewards.length > 0)
							-
								cards.forEach((card, index) => {
									let r = event.listRewards.find(x => x.card === card.name);
									if (r) {
										cards[index]["points"] = r.points;
									} else {
										cards[index]["points"] = 0;
									}
								});
								cards.sort((a, b) => {
									if (a.points > b.points) {
										return -1;
									}
									if (a.points < b.points) {
										return 1;
									}
									return 0;
								});
						each card in cards
							div.col-md-6.mb-3
								div(style="border:2px solid rgba(212, 144, 189, .2);border-radius:8px;padding:16px;overflow:auto;")
									img.mr-3(src="/images/cards/S/" + card.uniqueName + ".jpg" style="width:5em;height:auto;float:left;")
									div
										a(href="/card/" + getURL(card.name))= lang === "ja" ? card.ja_name : card.name
										if event.type === "PopQuiz"
											//- Temp if/else, because we don't have complete pop quiz data.
											if event.rewardListType
												if event.rewardListType === "points"
													//- Again, many pop quizzes are missing these values :P
													if event.listRewards.length > 0
														- let r = event.listRewards.find(x => x.card === card.name);
														p.mb-1= (r ? r.points.toLocaleString("en") : "???") + " pts"
													else
														p.mb-1 ??? pts
												//- TODO: if event.rewardListType === "boxes"
											else
												p.mb-2.small.text-muted *Missing event data.
										div
											- let rewardList = [...new Set(card.dt.map(x => x.type))].filter(x => x !== "level_up" && x !== "flower");
											each reward in rewardList
												img.img-fluid(src="/images/tree_rewards/" + reward + ".png" style="width:1.5em;height:auto;margin-right:2px;")
											if rewardList.length < 2 || rewardList.indexOf("item") == -1
												small.text-muted *Card have incomplete data.
					hr
					p.section-title= t("cards.demon_cards")
					div.row.justify-content-center.mb-4
						each card in cards.filter(card => card.type === "Demon")
							div.col-12.col-md-5.mb-3
								a.d-flex(href="../card/" + getURL(card.name))
									div.w-50.pr-1: img.img-fluid(src="/images/cards/L/" + card.uniqueName + ".jpg")
									div.w-50.pl-1: img.img-fluid(src="/images/cards/L/" + card.uniqueName + "_b.jpg")

					//- need to change for Chapter A, M, G
					if event.type === "PopQuiz" && !event.isBirthday && cards.filter(card => card.type === "Memory").length > 0
						p.section-title= t("cards.memory_cards")
						div.row.justify-content-center
							each card in cards.filter(card => card.type === "Memory")
								div.col-6.col-md-3.mb-3
									a(href="../" + "card/" + getURL(card.name))
										img.img-fluid(src="/images/cards/L/" + card.uniqueName + ".jpg")

	-
		function getFormatedDate(d) {
			if (!d) return "???";

			var day = d.getDate(), year = d.getFullYear();
			if (t("lang") === "en") {
				let month = d.toLocaleString('en', { month: 'long' });
				return `${day} ${month} ${year}`;
			} else {
				let month = d.getMonth() + 1;
				return `${year}年${month}月${day}日`;
			}
		}
