extends layout

block scripts
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	link(rel="stylesheet" href="/stylesheets/eventEdit.css")
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	script(src="https://unpkg.com/imask@6.2.2/dist/imask.min.js")
	script(src="/javascripts/eventEdit.js")
	script.
		var cardNames = !{JSON.stringify(cardData)};

mixin rewardEntry(reward = { points: '', card: '' })
	form.form-inline.item-container
		input.card-select.form-control(name="card" value=card placeholder="name")
		input.form-control(type="number" placeholder="points required" name="points" value=reward.points)
		button.btn.btn-outline-secondary.remove-item(type="button") Remove

mixin boxEntry(box = { name: 'Box 1', itemsCount: '', specialRewards: [] })
	form.form-row.item-container
		div.col-6: input.form-control(type="text" name="name" placeholder="box name" value=box.name)
		div.col-6: input.form-control(type="text" name="itemsCount" placeholder="total items" value=box.itemsCount)
		div.col-12: textarea.form-control(rows="5" name="specialRewards" placeholder="Format:\nreward name / amount\nThe Mammon Way Card Piece x25 / 2")= formatStages(box.specialRewards, ' / ')
		div.col-12: button.btn.btn-outline-danger.remove-item(type="button") Remove

mixin boxSetEntry(set = { name: 'Set A', cost: '', boxes: [] })
	div.boxset.item-container
		div.form-inline
			input.form-control(type="text" name="box-set-name" placeholder="box set name" value=set.name)
			input.form-control(type="number" name="box-set-cost" placeholder="individual box cost" value=set.cost step="100")
		div.p-2.mb-2(style="border-radius:8px;border:2px solid var(--secondary);")
			div
				if set.boxes.length !== 0
					each box in set.boxes
						+boxEntry(box)
				else
					+boxEntry()
			button.btn.btn-secondary.add-item(data-clone="template#box") Add box
		button.btn.btn-outline-danger.remove-item(type="button") Remove box set
	hr

mixin lockedStageEntry(stage = { name: '', requirement: '' })
	form.form-inline.item-container
		input.form-control(type="text" name="name" placeholder="stage name" value=stage.name)
		input.form-control(type="number" name="requirement" placeholder="required keys" value=stage.requirement)
		button.btn.btn-outline-danger.remove-item(type="button") Remove

block content
	include mixins/imageUpload
	-
		function formatStages(stages, delimiter = ", ") {
			let str = '';
			stages.forEach(i => {
				str += i.name;
				if (i.req) {
					str += delimiter + i.req;
				} else {
					i.rewards.forEach(j => {
						str += delimiter + j;
					})
				}
				str += "\n";
			});
			return str;
		}
	div#alert(role="alert")
	div.container
		h1= title
		style.
			@media screen and (max-width: 720px) {
				body {
					background: white !important;
				}
				.card {
					box-shadow: none !important;
					background: transparent !important;
				}
				.card-body {
					padding: 0;
				}
				#collapseEventDetails .card-body {
					padding: 1rem;
				}
			}
		div.card.shadow
			div.card-body
				if user.type !== "Admin"
					h5.text-center Please upload images to
						|
						|
						a(href="https://drive.google.com/drive/folders/1Tbo6bPrpp0aYb_YCMotNmQXVychxBseI" target="_blank") our google drive folder
						| .
					hr
				form#info
					div.form-row
						div.col-12.col-md-4
							div.form-group
								label(for="en-name") Name
								input.form-control(id="en-name" type="text" name="en-name" value=data.name.en)
						div.col-12.col-md-4
							div.form-group
								label(for="ja-name") Japanese name
								input.form-control(id="ja-name" type="text" name="ja-name" value=data.name.ja)
						div.col-12.col-md-4
							div.form-group
								label(for="zh-name") Chinese name
								input.form-control(id="zh-name" type="text" name="zh-name" value=data.name.zh)
						div.col-12.col-md-4
							div.form-group
								label(for="type") Type
								select#eventType(class='custom-select' name="type")
									option(value='PopQuiz' selected=(data.type==='PopQuiz')) Pop Quiz
									option(value='Nightmare' selected=(data.type==='Nightmare')) Nightmare
									option(value='ChargeMission' selected=(data.type==='ChargeMission')) Charge Mission
									option(value='LoginBonus' selected=(data.type==='LoginBonus')) Login Bonus
									option(value="Other" selected=(data.type==="Other")) Other
						div.col-12.col-md-4
							div.form-group
								label(for="start") Start date (UTC)
								input#start.form-control(type="text" name="start" value=data.start)
						div.col-12.col-md-4
							div.form-group
								label(for="end") End date (UTC)
								input#end.form-control(type="text" name="end" value=data.end)
				<div class="accordion" id="collapseEventDetails" style="border-radius:5px;border:2px solid #dfdfdf;">
					<div class="card">
						<div class="card-header" id="popquiz">
							h2.mb-0: button.btn.btn-link.btn-block.text-left.collapsed(type="button" data-toggle="collapse" data-target="#collasePopQuiz" aria-expanded="true" aria-controls="collasePopQuiz") Pop Quiz
						</div>
						<div id="collasePopQuiz" class="collapse" aria-labelledby="popquiz" data-parent="#collapseEventDetails">
							div.card-body
								div.form-group
									div.form-check.form-check-inline
										input#reward-points.form-check-input(type="radio" name="rewardListType" value="points" checked=(data.rewardListType!=="boxes"))
										label.form-check-label(for="reward-points") Point rewards
									div.form-check.form-check-inline
										input#reward-boxes.form-check-input(type="radio" name="rewardListType" value="boxes" checked=(data.rewardListType==="boxes"))
										label.form-check-label(for="reward-boxes") Box rewards
									div.form-check.form-check-inline
										input#has-keys.form-check-input(type="checkbox" checked=(data&&data.hasKeys))
										label.form-check-label(for="has-keys") Has keys
									div.form-check.form-check-inline
										input#lonelydevil.form-check-input(type="checkbox" checked=(data&&data.isLonelyDevil))
										label.form-check-label(for="lonelydevil") Lonely devil
									div.form-check.form-check-inline
										input#birthday.form-check-input(type="checkbox" checked=(data&&data.isBirthday))
										label.form-check-label(for="birthday") Birthday
								div.form-row
									div.col-12.col-md-3
										div.form-group
											label(for="stages") Number of stages
											input#stages.form-control(type="number" name="stages" value=data.stages)
									div.col-12.col-md-3
										div.form-group
											label(for="boostingMultiplier") Boosting
											select#boostingMultiplier.form-control
												option(value='1' selected=data.boostingMultiplier==1) No boosting
												option(value='2' selected=data.boostingMultiplier==2) x2 rewards
												option(value='3' selected=data.boostingMultiplier==3) x3 rewards
									div.col-12.col-md-3
										div.form-group
											label(for="boostingStart") Boosting start (UTC)
											input#boostingStart.form-control(type="text" name="boostingStart" value=data.boostingStart)
									div.col-12.col-md-3
										div.form-group
											label(for="boostingEnd") Boosting end (UTC)
											input#boostingEnd.form-control(type="text" name="boostingEnd" value=data.boostingEnd)
								ul.nav.nav-tabs(role="tablist")
									li.nav-item
										a#points-tab.nav-link.active(data-toggle="tab" href="#points" role="tab" aria-controls="points" aria-selected="true") Point-based
									li.nav-item
										a#box-set-tab.nav-link(data-toggle="tab" href="#box-set" role="tab" aria-controls="box-set" aria-selected="false") Boxes
									li.nav-item
										a#key-tab.nav-link(data-toggle="tab" href="#keys" role="tab" aria-controls="keys" aria-selected="false") Keys
									li.nav-item
										a#stageList-tab.nav-link(data-toggle="tab" href="#stageList" role="tab" aria-controls="stageList" aria-selected="false") Stages
								div.tab-content.pt-3
									div#points.tab-pane.show.active(role="tabpanel" aria-labelledby="points-tab")
										h5.border-bottom Rewards
										div
											div#rewards
												if data.listRewards && data.listRewards.length !== 0
													each reward in data.listRewards
														+rewardEntry(reward)
												else
													+rewardEntry()
											button.btn.btn-secondary.add-item(data-clone="#rewardTemplate") Add reward
									div#box-set.tab-pane(role="tabpanel" aria-labelledby="box-set-tab")
										ul
											li Only add rewards that are needed to get to next box.
											li Name rewards exactly as in-game, except for card pieces.
											li Name card pieces as: Card name Piece x20 <-- number of pieces
										div#boxset-container
											div
												if data && data.rewardListType === "boxes"
													each set in data.boxRewards
														+boxSetEntry(set)
												else
													+boxSetEntry()
											button.btn.btn-secondary.mb-2.add-item(data-clone="template#boxset") Add box set
									div#keys.tab-pane(role="tabpanel" aria-labelledby="key-tab")
										h5.border-bottom Locked stages
										textarea.form-control(rows='7' placeholder="Format:\nstage name, keys needed\n1-10, 5\n1-12, 5\n1-15, 15")= formatStages(data.lockedStages||[])
									div#stageList.tab-pane(role="tabpanel" aria-labelledby="stageList-tab")
										p No need to add Grimm and reward point item (pop quiz), because all stages give that.
										textarea.form-control(rows='7' placeholder="Format:\nstage name, reward 1, reward 2, ...\n1-10, Gem (Pride), Watch (Greed)\n1-11, Gem (Greed), Watch (Envy)\n1-15, Gem (Envy), Watch (Wrath)")= formatStages(data.stageList||[])
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="nightmare">
							h2.mb-0: button.btn.btn-link.btn-block.text-left.collapsed(type="button" data-toggle="collapse" data-target="#collapseNightmare" aria-expanded="false" aria-controls="collapseNightmare") Nightmare
						</div>
						<div id="collapseNightmare" class="collapse" aria-labelledby="nightmare" data-parent="#collapseEventDetails">
							<div class="card-body">Nothing planned.</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="other">
							h2.mb-0: button.btn.btn-link.btn-block.text-left.collapsed(type="button" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther") Other
						</div>
						<div id="collapseOther" class="collapse" aria-labelledby="other" data-parent="#collapseEventDetails">
							<div class="card-body">Nothing planned.</div>
						</div>
					</div>
				</div>
				if user.type === "Admin"
					hr
					style.
						#imageResult {
							max-height: 360px;
						}
					+uploadImage("Event image", data ? "/images/events/" + data.name.en + ".jpg" : "#")
				hr
				button#submit.btn.btn-primary.mr-2 Submit Change
				span#cd

			template#rewardTemplate
				+rewardEntry()

			template#box
				+boxEntry()

			template#boxset
				+boxSetEntry()

			template#locked-stages
				+lockedStageEntry()
	if user.type === "Admin"
		script.
			function prepareImageData() {
				let image = readImage($('#uploadImage')[0]);
				image
					.then(res => sendRequest(res))
					.catch(err => showAlert("danger", "Can't load image: " + err.message));
			}
			function saveChanges(e) {
				e.preventDefault();
				if (!validateFields()) {
					return;
				}
				prepareImageData();
			}
			function sendRequest(imageData) {
				$.post(location.pathname, { data: prepareEventData(), img: imageData }).done(
					function(result) {
						if (result.err) {
							showAlert("danger", result.message);
							return;
						}
						showAlert("success", result.message);
					}
				);
			}
	else
		<div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="suggestionModalLabel">Suggestion submitted :)</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					div.modal-body
						p Thank you for your edit!
						p If you would like to know the status of your edit, please check the
							|
							|
							a(href="/suggestion") pending edits' page
							| .
						h5 IMPORTANT:
						p If you make a new edit on the same page, <u>it will overwrite your previous edit</u>! So, make sure submit all of your edits at once!
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		script.
			function setCD(countdown) {
				$("button#submit").prop("disabled", true);
				let cd = setInterval(() => {
					$("span#cd").text(--countdown + 's');
					if (countdown === 0) {
						clearInterval(cd);
						$("span#cd").text('');
						$("button#submit").prop("disabled", false);
					}
				}, 1000);
			}
			function saveChanges(e) {
				e.preventDefault();
				let newData = JSON.stringify(prepareEventData());
				if (newData === originalData) {
					setCD(20);
					showAlert("warning", "You didn't make any change.")
					return;
				}
				setCD(60);
				$.post("/suggestion/add", {
					originalData: originalData,
					data: newData,
					page: location.pathname.replace("/edit", '')
				}, function(result) {
						if (result.err) {
							showAlert("danger", result.message);
							return;
						}
						$("#suggestionModal").modal("show");
					}
				);
			}
