extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/eventList.css")

block content
  -
    function getFormatedDate(d) {
      var day = d.getDate(), year = d.getFullYear();
      if (t("lang") === "en") {
        var month = d.toLocaleString('en', { month: 'long' });
        return `${day} ${month} ${year}`;
      } else {
        var month = d.getMonth();
        return `${year}年${month}月${day}日`;
      }
    }
    
  div.container
    h1= title
    ul#gallery
      each event in events
        li.col-12.col-sm-6.col-lg-4.mb-3
          // TODO remove underline 
          a(href="event/" + encodeURIComponent(event.name.en.replace(/ /g, '_')) + "/edit")
            div.card.shadow
              img.card-img-top(src="/images/events/" + event.name.en + ".jpg")
              div.card-body
                p.card-title= event.name.en
                small.text-muted= getFormatedDate(event.start) + " - " + getFormatedDate(event.end)
