extends layout

block scripts
	script(src="/javascripts/eventPageFunctions.js")
	script.
		var event = !{JSON.stringify(event)};

block content
	.container
		h1= t("lang")==="en"?event.name:event.ja_name
		.d-flex
			each reward in event.rewards
				if reward.card
					a(href="../card/"+encodeURIComponent(reward.card.name.replace(/ /g, '_')))
						img(src="/images/cards/L/" + reward.card.uniqueName + ".jpg")
						figcaption= t("lang")==="en"?reward.card.name:reward.card.ja_name
		if event.type === "Lonely Devil" || (event.start <= new Date() && event.end >= new Date())
			h4= t("events.calculator")
			p Enter your points to calculate
			.form-row.mb-4
				.col
					label.col-form-label(for="currentPoints") Current points
					input.form-control#currentPoints(type="number" aria-label="Total Points")
				.col
					label.col-form-label(for="pointsPerBattle") Points Per Battle
					input.form-control#pointsPerBattle(type="number" aria-label="Points Per Battle")
			each reward in event.rewards
				.row.mb-3
					.col
						if reward.card
							a(href="../card/"+encodeURIComponent(reward.card.name.replace(/ /g, '_')))= t("lang")==="en"?reward.card.name:reward.card.ja_name
						.small= reward.tag
					.col
						| #{reward.points}
					.col
						div(id="stages_"+reward.tag.replace(" ", ""))
						div(id="total_"+reward.tag.replace(" ", ""))
