doctype html
html(lang=t("lang"))
  head
    meta(charset='utf-8')
    <!-- Google Tag Manager -->
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TQRDPDG');
    <!-- End Google Tag Manager -->
    title= title+t("header")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content=description?description:title+t("header"))
    meta(name="keywords" content="Obey Me, おべいみー, cards, tools, 攻略")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description?description:title+t("header"))
    if card
      meta(property="og:image" content=`/images/cards/S/${card.uniqueName}.jpg`)
    else
      meta(property="og:image" content="/images/karasu.png")
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    link(rel='stylesheet' href='/stylesheets/theme.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1710157662563352" crossorigin="anonymous" onerror="document.dispatchEvent(new CustomEvent('koolAid'));"></script>
    script(src='/javascripts/commonFunctions.js')
    block scripts

  body(class="d-flex flex-column min-vh-100")
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQRDPDG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    nav(class="navbar navbar-expand-md bg-primary navbar-dark fixed-top shadow-sm bg-white" style="z-index:1032;")
      a(class="navbar-brand" href='/' style="font-family:Nunito;font-weight:bold;") Karasu-OS.com
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarTogglerMenu")
        ul(class="navbar-nav")
          li(class="nav-item")
            a(class="nav-link" href='/')= t("common.home")
          li(class="nav-item")
            a(class="nav-link" href='/cards')= t("common.gallery")
          li.nav-item
            a.nav-link(href="/events") Events
          li(class="nav-item")
            a(class="nav-link" href='/rankings')= t("common.rankings")
          li(class="nav-item dropdown")
            a(class="dropdown-toggle nav-link" role='button' id='toolsDropdown' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false")= t("common.tools")
            div(class="dropdown-menu dropdown-menu-right shadow px-2" aria-labelledby="toolsDropdown")
              a(class="dropdown-item" href='/SurpriseGuest')= t("common.spg")
              // a.dropdown-item(href="/calculator") Calculator
              div(class="dropdown-divider" style="opacity:50%;")
              span.overline ask karasu
              a(class="dropdown-item" href="/ask/dt_rewards") Devil's tree rewards
              a(class="dropdown-item" href="/ask/card_unlock_items") Card unlock items
              a(class="dropdown-item" href="/ask/majolish_cards") Majolish cards
              a(class="dropdown-item" href="/ask/skill_charge_speed") Skill charging speed
          //- TODO: use userController to check rights
          if user && (user.type === "Admin" || user.type === "Moderator")
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" role='button' id='adminDropdownButton' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false") Admin tab
              div(class="dropdown-menu shadow px-2" aria-labelledby="adminDropdownButton")
                if user.type === "Admin"
                  a(class="dropdown-item" href='/card/new') Add new card
                if user.type === "Admin"
                  a(class="dropdown-item" href='/hiddenCards') Hidden cards
                if user.type === "Admin"
                  a(class="dropdown-item" href='/userpage') User List
                a(class="dropdown-item" href="/event/new") Add new event
        ul(class="navbar-nav ml-auto")
          li(class="nav-item d-none d-md-block")
            div(class="nav-link" style="position:relative;bottom:1px") <svg width=".95em" height=".95em" viewBox="0 0 16 16" class="bi bi-person text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg>
          div(class="dropdown-divider" style="opacity:32%;")
          if !user
            li(class="nav-item")
              a(class="nav-link" href='/signup')= t("common.signup")
            li(class="nav-item")
              a(class="nav-link" href='/login')= t("common.login")
          else
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" role="button" id="collectionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") My Karasu
              div(class="dropdown-menu dropdown-menu-right shadow px-2" aria-labelledby="collectionDropdown")
                span.overline collections
                a(class="dropdown-item" href='/' + user.name + '/collection')= t("collection.cards")
                a(class="dropdown-item" href='/' + user.name + '/favourites')= t("collection.favourites")
                div(class="dropdown-divider" style="opacity:50%;")
                a(class="dropdown-item" href='/' + user.name + '/profile')= t("common.profile")
                div(class="dropdown-divider" style="opacity:50%;")
                a(class="dropdown-item" href="/user/tree_progress") My tree progress
                a(class="dropdown-item" href="/user/edits") My edits
            li(class="nav-item dropdown d-none d-md-block")
              a(class="dropdown-toggle nav-link text-white" role='button' id='accountDropdownButton' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false")= t("common.account")
                if !user.email
                  span(class="badge badge-pill badge-warning mx-1") !
              div(class="dropdown-menu dropdown-menu-right shadow px-2" aria-labelledby="accountDropdownButton")
                a(class="dropdown-item" href="/user")= t("common.settings")
                  if !user.email
                    span(class="badge badge-pill badge-warning ml-1") !
                a(class="dropdown-item" href='/logout')= t("common.logout")
            li(class="nav-item d-md-none")
              a(class="nav-link" href="/user")= t("common.settings")
                if !user.email
                  span(class="badge badge-pill badge-warning ml-1") !
            li(class="nav-item d-md-none")
              a(class="nav-link" href='/logout')= t("common.logout")

    main.mb-5(style="position:relative;")
      - function getURL(u) { return encodeURIComponent(u.replace(/ /g, '_')); }
      - const ALL_CHARACTERS = ["Lucifer", "Mammon", "Leviathan", "Satan", "Asmodeus", "Beelzebub", "Belphegor", "Diavolo", "Barbatos", "Simeon", "Luke", "Solomon", "Thirteen", "Mephistopheles", "Raphael", "LittleD"];
      if title !== "Karasu OS"
        //- div.container
        //-   <div id="announcementToast" class="d-none alert alert-info alert-dismissible fade show" style="z-index:0!important" role="alert">
        //-     h5 We need your help!
        //-     p We just added card strength, card animations, pop quiz locked stages, and pop quiz rewards to our website. We are missing a lot of information so some data are not being displayed at the moment.
        //-     a(href="https://drive.google.com/drive/folders/1v6jYT7NU31alIgcPrrIJerF6O2Iq3jlU?usp=sharing" target="_blank") Click here to become a contributor!
        //-     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        //-       <span aria-hidden="true">&times;</span>
        //-     </button>
        //-   </div>
        if (!user || !user.isSupporter)
          div.container.ddd
            div#ezoic-pub-ad-placeholder-109
              <ins class="adsbygoogle" style="display:inline-block;width:100%;height:90px" data-ad-client="ca-pub-1710157662563352" data-ad-slot="7330203562"></ins>
              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        if t("lang") === "ja"
          div.container
            div.alert.alert-info.text-center(style="z-index:0!important;" role="alert")
              strong Japanese translators needed!
              p.mb-0 Become a translator, please email
                |
                |
                a(href="mailto:karasu.os.mail@gmail.com") karasu.os.mail@gmail.com
                |
                | or
                |
                a(href="https://discord.gg/Y3KMW7U" target="_blank") join our discord server
                | .

      block content
      if (!user || !user.isSupporter)
        div#kool-aid.container(style="margin:2rem auto;text-align:center;")
          div.row.justify-content-center
            div#ezoic-pub-ad-placeholder-122.w-100
              <ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-1710157662563352" data-ad-slot="4992362293" data-ad-format="auto" data-full-width-responsive="true"></ins>
              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      //- toasts
      div(class="toast d-none" id="cookieToast" role="alert" data-delay="700" data-autohide="false")
        div(class="toast-body")
          span This site uses cookies to improve your experience.
            |
            |
            a(href="/policies") More information
          button(class="btn btn-info btn-sm float-right mb-2" type="button" id="acceptCookies" data-dismiss="toast" aria-label="Close")
            span(aria-hidden="true") Got it &#x1F44D
      //-
      div#announcementToast.toast.d-none(role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="position:fixed;top:64px;right:8px;z-index:1021;")
        div.toast-header
          strong.mr-auto Ask Karasu!
          button.ml-2.mb-1.close(type="button" data-dismiss="toast" aria-label="Close")
            span(aria-hidden="true") &times;
        div.toast-body
          | We are introducing a new feature called "ask karasu." You can ask questions like:
          ul.m-0
            li: a(href="/ask/dt_rewards?item=Devil+Point") Which cards give devil points?
            li: a(href="/ask/majolish_cards?item=clothing") Which cards give clothing?
          //- a(href="https://karasu-os.notion.site/Add-devil-s-tree-data-eb02884e5f7e4b2ba6ad245ce5e7667e" class="btn btn-primary btn-sm btn-block mt-3" target="_blank") Learn how to add data!

      div(class="shadow text-primary" id="b2t" type="button" title="Go to Top" style="display:none;")
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg>

    footer.bg-primary.text-light.mt-auto
      div.container.mt-5.mb-3
        div.row
          div.col-lg-5.mb-3.mb-lg-0
            div.d-flex.align-items-center
              a.h5(href='/')
                img(src="/images/karasu.png" style="width:32px;height:32px;margin-right:.5rem;float:left;" alt="karasu logo")
              a.h5(href='/') Karasu-OS.com
            small Karasu OS is a web resource created by fans. Creators of the website are not in any way affiliated with NTT Solmare Corporation. All characters, illustrations, and game content are copyrighted work exclusively belonging to NTT Solmare Corporation.
              br
              br
              | This site uses cookies to improve user experiences. See our
              |
              a(href="/policies") <u>Privacy Policy</u>
              |
              | for more information.
          div.col-6.col-md.text-md-center
            p(style="margin:.5rem auto;font-weight:bold;") Official Links
            ul
              li
                a(href="https://shallwedate.jp/obeyme/en/") Official Website
              li
                a(href="https://www.facebook.com/obeyme.solmare/") Facebook
              li
                a(href="https://twitter.com/ObeyMeOfficial1") Twitter
              li
                a(href="https://www.instagram.com/obey_me_official/") Instagram
          div.col-6.col-md.text-md-center
            p(style="margin:.5rem auto;font-weight:bold;") Communities
            ul
              li
                a(href="https://obey-me.fandom.com/") Fandom Wiki
              li
                a(href="https://www.reddit.com/r/obeyme/") Subreddit
          div.col-6.col-md.text-md-center
            p(style="margin:.5rem auto;font-weight:bold;") Contact Us
            ul
              li
                a(href="https://twitter.com/karasu_os") Twitter
              li
                a(href="https://discord.gg/Y3KMW7U") Discord

          div.col-6.col-md-4.col-lg
            p.my-2.text-right <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2 mr-1" viewBox="0 0 16 16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/></svg>
              | Language
            select#language.custom-select.border-0
              option(value="en" selected=t("lang")==="en"?true:false) English
              option(value="ja" selected=t("lang")==="ja"?true:false) 日本語
              option(value="zh" selected=t("lang")==="zh"?true:false) 中文
        hr(style="border-color:rgba(255,255,255,.5);")
        div.row.col.justify-content-center.align-items-center Made with
          | <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart-fill mx-1" viewBox="0 0 16 16">   <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/> </svg>
          | by Laele and char
