extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/forms.css")

block content
  div#alert(role="alert" style="position:fixed;right:20px;top:-100px;")
  div(class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="forgotPassword" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="forgotPassword") Account recovery
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span( aria-hidden="true") &times;
        div(class="modal-body")
          p Enter the verified email address associated with your account. We will send you a new password.
          label(for="email") Email
          input(class='form-control' type="email" id="email" name="email")
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary text-light" id="sendRecoveryEmail" onclick="sendRecoveryEmail()") Send password recovery email

  div.row
    div(class="col-12 col-lg-6 mx-auto")
      div(class="card card-signin flex-row my-5")
        div(class="card-body")
          h5(class="card-title text-center")= t("common.login")

          if message != ""
            div(class="alert alert-warning text-center" role="alert") #{message}

          form(class="form-signin" method="POST" action="")
            div.form-label-group
              input#username.form-control(type="text" maxlength="50" pattern="[A-Za-z0-9._-]+" name="username" autocomplete="off" required autofocus)
              span.floating-label= t("user.username")
            div.form-label-group
              input#password.form-control(type="password" name="password" autocomplete="off" required)
              span.floating-label= t("user.password")
              a.small(href="#" role="button" id="forgotPassword" data-toggle="modal" data-target="#emailModal")= t("user.forgot_pass")
            div(class="custom-control custom-checkbox mb-3")
              input#checkPassword.custom-control-input(type="checkbox" onclick="togglePass()")
              label(class="custom-control-label" for="checkPassword")= t("user.show_pass")
            button(class="btn btn-lg btn-primary btn-block text-uppercase" type="submit")= t("common.login")
            a(class="d-block text-center mt-2 small" href="signup")= t("common.signup")

  if errors
    for error in errors
      console.error(error.msg)

  script.
    function togglePass() {
      const field = document.getElementById("password");
      if (field.type === "password") {
        field.type = "text";
      } else {
        field.type = "password";
      }
    }
    $(document).ready(function() {
      var username = $("input#username").val();
      $("input#username").attr('value', username);
      var password = $("input#password").val();
      $("input#password").attr('value', password);

      $("input#username").on('keyup', function() { var username = $("input#username").val(); $("input#username").attr('value', username); });
      $("input#password").on('keyup', function() { var password = $("input#password").val(); $("input#password").attr('value', password); });
    });

    function sendRecoveryEmail() {
      $.ajax({
        type: "post",
        url: "/user/restorePassword",
        contentType: "application/json",
        data: JSON.stringify({ email: $("input#email").val() })
      }).done(function(result) {
        if (result.err) {
          showAlert("danger", result.message);
          return;
        }
        showAlert("success", "New password sent");
      });
    }
