extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/ranking.css")
  script(src="/javascripts/ranking.js")

block content
  div(class="container")
    h1= title
    div.card.card-body.shadow
      h5.text-center.text-primary Most Favourited Cards
      div#podium.d-none.d-lg-flex
        each i in [1, 0, 2]
          div(id=`top${i+1}`)
            img(src="/images/cards/S/"+ranking[i]._id+".jpg")
            div
              a(href="/card/"+ranking[i]._id)= ranking[i].name
              p #{ranking[i].total} &#x2B50;
              img(src=`/images/top${i+1}.png` style="margin:auto;width:48px;height:48px;")
      table#ranking.table.table-responsive-sm.col-lg-10.mx-auto
        tbody
          each i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
            tr(class=(i<3?"d-lg-none":''))
              td.text-center= i+1
              td(style="width:80px;")
                a(href="card/"+ranking[i]._id)
                  img(style="width:64px;height:64px;" src="/images/cards/S/"+ranking[i]._id+".jpg")
              td
                a(href="card/"+ranking[i]._id)= ranking[i].name
              td #{ranking[i].total} &#x2B50;
