extends layout

block scripts


block content
	div.container
		h1 Pending edits
		div.card.card-body
			ol
				each suggestion in suggestions
					li(style="line-height:2;")
						if user && user.type === "Admin"
							a(href="/suggestion/" + suggestion._id) #{suggestion.user}: #{suggestion.page}
						else
							| #{getDateFromObjectID(suggestion._id)}
							|
							a(href=suggestion.page)= suggestion.page
							|
							| by #{suggestion.user}
	-
		function getDateFromObjectID(id) {
			return (new Date(parseInt(id.toString().substring(0, 8), 16) * 1000)).toString().substring(4, 24);
		}
