extends layout

block scripts


block content
	div.container
		h1 Pending edits
		div.card.card-body
			p.m-0 Thanks to everyone's enthusiastic edits! I underestimated karasu users' power. Now there's a big stack of edits for me to review. So, I'm trying to create a way to give trusted contributors direct edit permission. Just a heads up that this whole process might take a while. Thank you for all your patience and support!
			hr
			ol
				if user && user.type === "Admin"
					each suggestion in suggestions
						li(style="line-height:2;")
							| #{getDateFromObjectID(suggestion._id)}
							|
							a(href="/suggestion/" + suggestion._id) #{suggestion.user}: #{suggestion.page}
				else
					each suggestion in suggestions
						li(style="line-height:2;")
							| #{getDateFromObjectID(suggestion._id)}
							|
							a(href=suggestion.page)= suggestion.page
							|
							| by #{suggestion.user}
	-
		function getDateFromObjectID(id) {
			return (new Date(parseInt(id.toString().substring(0, 8), 16) * 1000)).toString().substring(4, 24);
		}
