extends layout

block scripts
  style.
    #display > div.col-6 > div {
      padding: .5rem;
      border: 2px solid var(--secondary);
      border-radius: 8px;
      height: 100%;
    }
    #display pre {
      max-height: 1028px;
    }
  script(src="/javascripts/suggestionDetail.js")
  script.
    const PATH = !{JSON.stringify(suggestion.page.split('/'))};

block content
  -
    function sortByGrimm(dt) {
      return dt.sort((a, b) => {
        if (!a.grimmCost) return 1;
        if (!b.grimmCost) return -1;
        return a.grimmCost - b.grimmCost;
      });
    }
    originalFile.dt = sortByGrimm(originalFile.dt);
    newFile = JSON.parse(suggestion.stringifiedJSON);
    newFile.dt = sortByGrimm(newFile.dt);
  div.container
    h1 Suggestion: #{title}
    div.card.mb-3
      div.card-body
        p User:
          |
          |
          a(href='/' + suggestion.user + "/profile")= suggestion.user
        p Page:
          |
          |
          a(href=suggestion.page)= suggestion.page
        p Status: #{suggestion.status}
        p.text-center Note: not 100% accurate. Use
          |
          |
          a(href="https://jsoncompare.org/" target="_blank") https://jsoncompare.org/
          |
          | for detailed comparison.
        div#display.row.mb-3
          div.col-6
            div
              p.text-center.mb-0 Original
              div.text-center: button#old.btn.btn-link Copy
              pre#left= JSON.stringify(originalFile, undefined, 2)
          div.col-6
            div
              p.text-center.mb-0 Suggestion
              div.text-center: button#new.btn.btn-link Copy
              pre#right= JSON.stringify(newFile, undefined, 2)

        textarea#final.form-control.mb-3(style="min-height:260px;")= JSON.stringify(JSON.parse(suggestion.stringifiedJSON), undefined, 2)

        div.row
          div.col
            button#ban.btn.btn-outline-danger.mr-2(data-name=suggestion.user) Ban user
            button#delete.btn.btn-secondary.mr-2 Delete suggestion
            button#save.btn.btn-primary Save changes
          div.col: input#reason.form-control(type="text" value=suggestion.reason placeholder="reason")

  script(src="/javascripts/jdd.js")
  script.
    leftBlockId = $('#left').attr('id');
    rightBlockId = $('#right').attr('id');
    $(document).jdd(leftBlockId, rightBlockId);
    var originalFile = !{JSON.stringify(originalFile)};
    var suggestionFile = !{JSON.stringify(newFile)};
    console.log("Original", originalFile, "Suggestion", suggestionFile);
