extends layout

mixin getActions(step)
  if step[0].item
    - const itemImages = {"Princess's Poison Apple": 'apple', 'Instant Noodles (Hell-Sauce Flavor)': 'noodles', 'Spicy Rainbow Pizza': 'pizza', 'RedxRed Apple Pie': 'pie', 'Wicked Cupcake': 'cupcake', 'Wicked Cupcake ': 'cupcake', 'Human World Cheeseburger': 'burger', 'Family Pack Sushi': 'sushi', 'Comfort Candy': 'candy', 'Black Coffee of Melancholy': 'coffee', 'Backstabbing Sandwich': 'sandwich', 'Bandage': 'bandage', 'First Aid Kit': 'kit', 'Medicine': 'medicine', 'Poison': 'poison', 'Flower': 'flower', 'Book': 'book', 'Manga': 'manga', 'Movie Ticket': 'ticket', 'Game': 'game', 'Perfume': 'perfume', 'Message Card': 'card', 'Pocket Tissue': 'tissue', 'Whip of Love': 'whip', "Barbatos's Tea": 'tea', "Madam Scream's Macarons": 'macarons', "Barbatos's Signature Cake": 'cake', 'Paradise Blue': 'paradise', 'Unidentified Matter': 'yummy'}
    td
      .row.justify-content-center
        if step[0].item instanceof Array
          - var items = step[0].item;
        else
          - var items = [step[0].item];
        - var i = 0;
        while i < items.length
          - imgName = itemImages[items[i]];
          img.gift.d-none.d-lg-block(src='/images/items/'+imgName+'.png')
          img.small-gift.d-lg-none(src='/images/items/'+imgName+'.png')
          - i++;
  else
    - var i = 0;
    - var options = '';
    while i < step.length
      if i > 0
        - options += "<br>";
      - option = step[i].action + (step[i].part ? ' ' + step[i].part : '');
      - options += t(option);
      - i++;
    td.py-1.p-sm-3.px-0.d-none.d-sm-table-cell !{options}
    td.py-1.p-sm-3.px-0.small.d-sm-none !{options}

mixin getConditionImage(condition)
  if condition == 'Homescreen'
    img.img-fluid(src='/images/blob.png' style='max-height:1.5em')
  else if condition == '3 stars'
    img.img-fluid(src='/images/battle_star.png' style='max-height:1.5em')
    img.img-fluid.mx-1(src='/images/battle_star.png' style='max-height:1.5em')
    img.img-fluid(src='/images/battle_star.png' style='max-height:1.5em')
  else if condition == '1 or 2 stars'
    img.img-fluid(src='/images/battle_star.png' style='max-height:1.5em')
  else
    | #{condition}

block scripts
  link(rel="stylesheet" href="/stylesheets/spg.css")
  script(src="/javascripts/surpriseGuestFunctions.js")

block content
  .container
    h1= t("common.spg")

    if (!user || !user.supportStatus.includes("adfree"))
      div.ddd <div id="ezoic-pub-ad-placeholder-109"></div>

    //- settings
    .card.card-body.pb-2.pt-3.mb-3
      .lineHeader.h5.text-primary.mb-0= t("common.settings")
      #settings.mx-auto.collapse.hide.collapsed
        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input(type="radio" id="shortActions" name="optionsSwitch")
          label.custom-control-label(for="shortActions")= t("spg.shortActions")
        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input(type="radio" id="allActions" name="optionsSwitch")
          label.custom-control-label(for="allActions")= t("spg.allActions")
        .custom-control.custom-checkbox.mt-2.mb-1.text-lg-center
          input.custom-control-input(type="checkbox" id="useItems")
          label.custom-control-label(for="useItems")= t("spg.use_item")
      a(class="text-center text-secondary collapser" id="settingsCollapser" data-toggle="collapse" href="#settings" role="button" aria-expanded="false" aria-controls="settings")
        |
        |
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>

    if (!user || !user.supportStatus.includes("adfree"))
      div.ddd <div id="ezoic-pub-ad-placeholder-110"> </div>

    //- content
    .card.card-body
      .row
        //- nav
        .col-3.d-none.d-lg-block
          .nav.flex-column.nav-pills.mb-2.big-nav(role='tablist' aria-orientation="vertical")
            each interaction, i in interactions
              a.px-1.px-sm-2.px-lg-3(class='nav-item nav-link'+(i===0?' active':'') id=interaction.chara+'Pill' data-toggle='pill' href='#'+interaction.chara role='tab' aria-controls=interaction.chara)
                img.img-fluid.mx-1(src=`/images/faces/${interaction.chara}.png` style='width:30px;')
                | #{t(interaction.chara)}
        .col-12.d-lg-none.mb-3
          .nav.nav-pills.justify-content-center.small-nav(role='tablist')
            each interaction, i in interactions
              a.p-1.mx-1.small-pill(class='nav-item nav-link'+(i===0?' active':'') id=interaction.chara+'PillSmall' data-toggle='pill' href='#'+interaction.chara role='tab' aria-controls=interaction.chara)
                img.img-fluid(src=`/images/faces/${interaction.chara}.png` style='width:40px;')

        //- table
        .col-12.col-lg-9
          .tab-content
            each interaction, i in interactions
              div(class="tab-pane fade"+(i===0?" show active":"") id=interaction.chara role='tabpanel' aria-labelledby=interaction.chara+'Pill')
                each meet in interaction.interactions
                  table.table
                    thead
                      tr
                        th.bg-secondary.text-white.py-2.py-lg-3.rounded(colspan='4')
                          .row.w-100.align-items-center.mx-0
                            h5.col-10.text-left.px-0.mb-0.d-none.d-lg-block!= meet.phrase[t("lang")]
                            .col-2.px-0.mb-0.d-none.d-lg-flex.justify-content-end
                              +getConditionImage(meet.condition)
                            .col-12.mb-1.mt-0.d-flex.justify-content-center.d-lg-none
                              +getConditionImage(meet.condition)
                            h6.col-12.text-center.px-0.mb-0.d-lg-none!= meet.phrase[t("lang")]
                    tbody
                      tr.text-primary
                        each val, key in {'Action 1': 28, 'Action 2': 28, 'Action 3': 28, 'Points': 16}
                          th.h6.px-0.px-sm-3.d-none.d-sm-table-cell(style='width:'+val+'%')= t(key)
                        each i in [1, 2, 3]
                          th.h6.px-0.px-sm-3.small.d-sm-none(style='width: 30%')= t("Action "+i)
                        th.h6.px-0.px-sm-3.small.d-sm-none(style='width: 10%')= t("Points")
                      tr.text-dark.moves
                        each step in ['first', 'second', 'third']
                          +getActions(meet.allInteractions[step])
                        td.d-none.d-sm-table-cell +#{meet.allInteractions.points}
                        td.small.d-sm-none +#{meet.allInteractions.points}
                      tr.text-dark.movesShort
                        each step in ['first', 'second', 'third']
                          +getActions([meet.allInteractionsShort[step]])
                        td.d-none.d-sm-table-cell +#{meet.allInteractionsShort.points}
                        td.small.d-sm-none +#{meet.allInteractionsShort.points}
                      if meet.itemInteractions
                        tr.text-dark.items
                          each step in ['first', 'second', 'third']
                            +getActions(meet.itemInteractions[step])
                          td.d-none.d-sm-table-cell +#{meet.itemInteractions.points}
                          td.small.d-sm-none +#{meet.itemInteractions.points}
                      if meet.itemInteractionsShort
                        tr.text-dark.itemsShort
                          each step in ['first', 'second', 'third']
                            +getActions([meet.itemInteractionsShort[step]])
                          td.d-none.d-sm-table-cell +#{meet.itemInteractionsShort.points}
                          td.small.d-sm-none +#{meet.itemInteractionsShort.points}
