extends layout

mixin getActions(step)
  - var i = 0;
  - options = '';
  while i < step.length
    if i > 0
      - options += '<br>'
    - option = step[i].item ? step[i].item : (step[i].action + (step[i].part ? ' ' + step[i].part : ''));
    if option instanceof Array
      - option = option.join('<br>')
    - option = option.charAt(0).toUpperCase() + option.slice(1);
    - options += option;
    - i++;
  td.align-middle.py-1.py-sm-3.px-0.px-sm-3.d-none.d-sm-table-cell !{options}
  td.align-middle.py-1.py-sm-3.px-0.px-sm-3.small.d-sm-none !{options}

block scripts
  link(rel="stylesheet" href="/stylesheets/spg.css")
  script(src="/javascripts/surpriseGuestFunctions.js")

block content
  .container
    .row.mb-4
      .col-12
        h1.text-primary.pb-2.d-none.d-sm-block(style="border-bottom: 2px solid; border-color: #8d6fe2;") Surprise Guest Interactions
        h1.text-primary.pb-2.d-sm-none.text-center(style="border-bottom: 2px solid; border-color: #8d6fe2;") Surprise Guest
      .col-12.mt-2
        .card.card-body.shadow.rounded.pb-2.pt-3
          .lineHeader.h5.text-primary.mb-0 Settings
          #settings.mx-auto.collapse.hide
            .custom-control.custom-radio.custom-control-inline.text-center
              input.custom-control-input(type="radio" id="shortActions" name="optionsSwitch")
              label.custom-control-label(for="shortActions") Show one option for each action
            .custom-control.custom-radio.custom-control-inline.text-center
              input.custom-control-input(type="radio" id="allActions" name="optionsSwitch")
              label.custom-control-label(for="allActions") Show alternative options
            .custom-control.custom-checkbox.mt-2.mb-1.text-md-center
              input.custom-control-input(type="checkbox" id="useItems")
              label.custom-control-label(for="useItems") Use items
          .text-center
            a(class="text-secondary collapser" id="settingsCollapser" data-toggle="collapse" href="#settings" role="button" aria-expanded="false" aria-controls="settings")
              |
              |
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>


      .col-12.my-2
        .card.card-body.shadow.rounded
          .row
            .col-3.d-none.d-md-block
              .nav.flex-column.nav-pills.mb-2.big-nav(role='tablist' aria-orientation="vertical")
                each interaction, i in interactions
                  a.px-1.px-sm-2.px-lg-3(class='nav-item nav-link'+(i===0?' active':'') id=interaction.chara+'Pill' data-toggle='pill' href='#'+interaction.chara role='tab' aria-controls=interaction.chara)
                    span
                      img.img-fluid.mx-1(src=`/images/faces/${interaction.chara}.png` style='max-width: 30px; width:100%;')
                      | #{interaction.chara}
            .col-12.d-md-none.mb-3
              .nav.nav-pills.justify-content-center(role='tablist')
                each interaction, i in interactions
                  a.p-1.mx-1(class='nav-item nav-link'+(i===0?' active':'') id=interaction.chara+'PillSmall' data-toggle='pill' href='#'+interaction.chara role='tab' aria-controls=interaction.chara)
                    span
                      img.img-fluid(src=`/images/faces/${interaction.chara}.png` style='max-width: 40px; width:100%;')
            .col-12.col-md-9
              .tab-content
                each interaction, i in interactions
                  div(class="tab-pane fade"+(i===0?" show active":"") id=interaction.chara role='tabpanel' aria-labelledby=interaction.chara+'Pill')
                    each meet in interaction.interactions
                      table.table
                        thead.text-primary
                          tr
                            th.bg-secondary.text-white.py-2.py-md-3.rounded-sm(colspan='4')
                              .row.w-100.align-items-center.mx-0
                                .col-10.text-left.px-0.h5.align-middle.mb-0.d-none.d-md-block
                                  | #{meet.phrase}
                                .col-2.text-right.px-0.h6.align-middle.mb-0.d-none.d-md-block
                                  | #{meet.condition}
                                .col-12.text-center.px-0.h6.align-middle.mb-0.d-md-none
                                  | #{meet.phrase}
                                .col-12.text-center.px-0.small.align-middle.mb-0.d-md-none
                                  | #{meet.condition}
                        tbody
                          tr.text-primary.text-center
                            th.h6.px-0.px-sm-3.d-none.d-sm-table-cell(style='width: 30%') Action 1
                            th.h6.px-0.px-sm-3.d-none.d-sm-table-cell(style='width: 30%') Action 2
                            th.h6.px-0.px-sm-3.d-none.d-sm-table-cell(style='width: 30%') Action 3
                            th.h6.px-0.px-sm-3.d-none.d-sm-table-cell(style='width: 10%') Points
                            th.h6.px-0.px-sm-3.small.d-sm-none(style='width: 30%') Action 1
                            th.h6.px-0.px-sm-3.small.d-sm-none(style='width: 30%') Action 2
                            th.h6.px-0.px-sm-3.small.d-sm-none(style='width: 30%') Action 3
                            th.h6.px-0.px-sm-3.small.d-sm-none(style='width: 10%') Points
                          tr.text-dark.text-center.moves
                            +getActions(meet.allInteractions.first)
                            +getActions(meet.allInteractions.second)
                            +getActions(meet.allInteractions.third)
                            td.align-middle.d-none.d-sm-table-cell +#{meet.allInteractions.points}
                            td.align-middle.small.d-sm-none +#{meet.allInteractions.points}
                          tr.text-dark.text-center.movesShort
                            +getActions([meet.allInteractionsShort.first])
                            +getActions([meet.allInteractionsShort.second])
                            +getActions([meet.allInteractionsShort.third])
                            td.align-middle.d-none.d-sm-table-cell +#{meet.allInteractionsShort.points}
                            td.align-middle.small.d-sm-none +#{meet.allInteractionsShort.points}
                          if meet.itemInteractions
                            tr.text-dark.text-center.items
                              +getActions(meet.itemInteractions.first)
                              +getActions(meet.itemInteractions.second)
                              +getActions(meet.itemInteractions.third)
                              td.align-middle.d-none.d-sm-table-cell +#{meet.itemInteractions.points}
                              td.align-middle.small.d-sm-none +#{meet.itemInteractions.points}
                          if meet.itemInteractionsShort
                            tr.text-dark.text-center.itemsShort
                              +getActions([meet.itemInteractionsShort.first])
                              +getActions([meet.itemInteractionsShort.second])
                              +getActions([meet.itemInteractionsShort.third])
                              td.align-middle.d-none.d-sm-table-cell +#{meet.itemInteractionsShort.points}
                              td.align-middle.small.d-sm-none +#{meet.itemInteractionsShort.points}
