- var page_user = title==="My Profile"?"Me":title.slice(0, -10)

if badges.length !== 0
  include badgeDescriptions.pug
  if badges.includes("adfree")
    - var level = badges.find((el) => el.startsWith("Lv"));
    style.
      #supportBadge>div {
        width: 100%;
        color: white;
        font-size: small;
        text-align: center;
        transform: translateY(-115%);
      }
  each badge in badges
    if badge === "adfree"
      div(id="supporterBadgeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="supporterBadgeModelTitle" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title text-primary" id="supporterBadgeModelTitle")= level + " Supporter"
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body") Proud supporter of Karasu-OS! Unlock by making a donation to keep Karasu alive.
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
              a(type="button" class="btn btn-primary" href="https://www.buymeacoffee.com/karasuos" target="_blank") Unlock the Badge
    else if (badge.startsWith("Lv") || badge === '')
      //- do nothing
    else
      div(id=badge+"Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby=badge+"Title" aria-hidden="true")
        div(class="modal-dialog" role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title text-primary" id=badge+"Title")= list[badge].title
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body") !{list[badge].description}
            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

div.card.card-body.shadow.mb-3
  ul.nav.nav-tabs.mb-2
    li.nav-item
      a.nav-link.active(href="#") About #{page_user}
    li.nav-item
      a.nav-link(href="collection") Go to #{page_user==="Me"?"My Collection":page_user+"'s collection"} &rarr;
  div.row
    div.col.col-md-4.text-center
      img(src="/images/cards/L/The_Mammon_Way.jpg" style="width:256px;height:auto;")
    div.col
      h5.mt-2= page_user==="Me"?user.name:page_user
      if badges.length !== 0
        div(style="display:flex;")
          each badge in badges
            if badge === "adfree"
              div#supportBadge.mr-2(type="button" data-toggle="modal" data-target="#supporterBadgeModel" style="width:auto;height:32px;")
                img(src="/images/SupporterBadge.png" alt="supporter badge" style="width:auto;height:32px;")
                div= level.substring(2)
            else if (badge.startsWith("Lv") || badge === '')
              //- do nothing
            else
              div.mr-2.my-auto(type="button" data-toggle="modal" data-target=`#${badge}Modal`)
                img(src="/images/"+badge+".png" alt=badge style="width:auto;height:28px;")
      hr
      div.row.justify-content-center
        div.col.text-center 666
          |
          br
          span.text-muted(style="font-size:12px;") DAYS IN DEVILDOM
        div.col.text-center 666
          |
          br
          span.text-muted(style="font-size:12px;") DEMON CARDS
        div.col.text-center 666
          |
          br
          span.text-muted(style="font-size:12px;") MEMORY CARDS
      hr
      div.row.mt-4
        div.col.col-lg-6
          p
            |
            span In-game Name:
            |
            | lollipop
          p
            |
            span Friend ID:
            |
            | 123456789
          p
            |
            span Started playing since
            |
            | December 2019
          p
            |
            span Joined Karasu in
            |
            | December 2020
        div.col-12.col-lg-6
          p
            |
            span Currently on lesson
            |
            | 666
          p
            |
            span Favourite characters:
            |
            br
            |
            img(src="/images/faces/Lucifer.png" style="width:32px;height:32px;")
            img(src="/images/faces/Lucifer.png" style="width:32px;height:32px;")
            img(src="/images/faces/Lucifer.png" style="width:32px;height:32px;")
            img(src="/images/faces/Lucifer.png" style="width:32px;height:32px;")
            img(src="/images/faces/Lucifer.png" style="width:32px;height:32px;")

style.
  p>span {
    font-weight: 600;
  }
