extends layout

block scripts
  script(src="/javascripts/userpage.js")

block content
  div.container
    h1= title
    div.card.card-body.shadow
      div.d-md-none
        p hey, go find a device with larger screen
      div.d-none.d-md-block
        p sortby: date (of registration), name, email
        table(id="supportTable" class="table table-hover")
          thead
            tr
              th(scope="col") Name
              th(scope="col") Email
              th(scope="col") Supporter Status
          tbody
            each usr in userList.users
              tr
                td #{usr.name}
                td #{usr.email}
                td(id=usr.name)
                  input(class="form-control" type="text" value=usr.supportStatus)
        nav(aria-label="Page navigation example")
          ul(class="pagination justify-content-center")

  script.
    paginate(!{JSON.stringify(userList)});
