extends layout

block scripts
  script(src="/javascripts/userpage.js")

block content
  div.container
    h1= title
    div.card.card-body.shadow
      div.d-md-none
        h5.card-title try to find a device with larger screen, or one with console
        hr
      p.card-text ?sortby= date (of registration), name, email
      table(class="table table-hover")
        thead
          tr
            th(scope="col") Name
            th(scope="col") Email
            th(scope="col") Supporter Status
        tbody
          each usr in userList.users
            tr
              td #{usr.info.name}
              td #{usr.info.email}
              td(id=usr.info.name)
                input(class="form-control" type="text" value=usr.info.supportStatus)
      nav(aria-label="user table navigation")
        ul(class="pagination justify-content-center")

  script.
    paginate(!{JSON.stringify(userList)});
