extends layout

block scripts
  script(src="/javascripts/userList.js")

block content
  div.container
    h1 User List
    div.card.card-body
      p Updating supporter status? Might as well use MongoDB Compass.<br>- Or -<br>Format the support status as JSON.
      form.form-inline.mb-3
        select.custom-select.mr-3(name="sortby")
          option(value="") registration date
          option(value="name") name
          option(value="email") email
          option(value="supportStatus") supportStatus
        div.custom-control.custom-radio.custom-control-inline
          input#ascending.custom-control-input(type="radio" name="order" value="1")
          label.custom-control-label(for="ascending") Ascending
        div.custom-control.custom-radio.custom-control-inline
          input#descending.custom-control-input(type="radio" name="order" value="-1")
          label.custom-control-label(for="descending") Descending
        input(type="submit" value="Go")
      table(class="table table-hover table-responsive-sm")
        thead
          tr
            th(scope="col") Name
            th(scope="col") Email
            th(scope="col") Supporter Status
        tbody
          each u in userList.users
            tr
              td #{u.info.name}
              td #{u.info.email}
              td(id=u.info.name)
                input(class="form-control" type="text" name="support" value=u.info.supportStatus)
      nav(aria-label="user table navigation")
        ul(class="pagination justify-content-center flex-wrap")

  script.
    const tableData = !{JSON.stringify(userList)};
