extends ../layout

block scripts
  script.
    const POPQUIZ = !{JSON.stringify(data)};
    const DAILY_FREE_BATTLES = POPQUIZ.stages * 3;
    const DAILY_FREE_AP = 288 + 20 * 2 + 10 * 3 + 30 * 2;
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/dayjs.min.js" integrity="sha512-Ot7ArUEhJDU0cwoBNNnWe487kjL5wAOsIYig8llY/l0P2TUFwgsAHVmrZMHsT8NGo+HwkjTJsNErS6QqIkBxDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/plugin/utc.min.js" integrity="sha512-z84O912dDT9nKqvpBnl1tri5IN0j/OEgMzLN1GlkpKLMscs5ZHVu+G2CYtA6dkS0YnOGi3cODt3BOPnYc8Agjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/plugin/timezone.min.js" integrity="sha512-fG1tT/Wn/ZOyH6/Djm8HQBuqvztPQdK/vBgNFLx6DQVt3yYYDPN3bXnGZT4z4kAnURzGQwAnM3CspmhLJAD/5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  script(src="/javascripts/calculator.js")

block content
  -
    function started() {
      return new Date() > new Date(data.start);
    }
    function ended() {
      return new Date() > new Date(data.end);
    }
  div.container
    h1= title
    div.card.mb-3
      div.card-body
        div.row
          div.col-12.text-center
            p Please read the information section at the bottom of the page before using the calculator.
            hr
          div#pqinfo.col-12.col-md-4.text-center
            a(href="/event/" + getURL(data.name.en))
              h5= t("lang") === "ja" ? data.name.ja : data.name.en
              img.img-fluid.rounded.mb-3(src="/images/events/" + encodeURIComponent(data.name.en) + ".jpg" onerror="this.onerror=null;this.src='/images/event_placeholder.jpg'")
            if started()
              p Ending in
            else
              p Starting in
            h5#cd.mb-3 --
            if data.boostingMultiplier > 1
              - let dateNow = new Date();
              if dateNow < data.boostingStart
                p Boosting starting in
                h5#boostingcd --
              else if dateNow < data.boostingEnd
                p Boosting ending in
                h5#boostingcd --
              else
                p Boosting has ended.
            hr.d-md-none
          div.col-12.col-md-8
            form#calculator
              div.form-row
                div.form-group.col-12.col-md-4
                  label Goal
                  input.form-control(type="number" min=0 name="goal")
                div.form-group.col-12.col-md-4
                  label Current points
                  input.form-control(type="number" min=0 name="currpts")
                div.form-group.col-12.col-md-4
                  label Points per battle
                    a(href="#note") *
                  input.form-control(type="number" name="ppb" readonly=data.isBirthday min=(data.isBirthday?12:120) value=(data.isBirthday?12:''))
            //-
              if data.rewardListType == "boxes"
                p You need #{} points at most to clear each box.
            <ul class="nav nav-tabs" id="resultTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="total-tab" data-toggle="tab" href="#total" role="tab" aria-controls="total" aria-selected="true">Total</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="daily-tab" data-toggle="tab" href="#daily" role="tab" aria-controls="daily" aria-selected="false">Daily</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="daily-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">Additional</a>
              </li>
            </ul>
            div#resultTabContent.tab-content.pt-3
              div#total.tab-pane.show.active(role="tabpanel" aria-labelledby="total-tab")
                p.text-center You can get a total of
                  |
                  |
                  span#freepts.h5 --
                  |
                  | points for free
                  a(href="#note") **
                  | .
                p.text-center An additional
                  |
                  |
                  span.additionalpts.h5 --
                  |
                  | points is needed to reach your goal.
                hr
                div.results.row.justify-content-center
                  div.col-12.col-md-6.col-lg-4
                    div.result-container
                      p AP
                      div
                        div
                          p.mb-0= t("calculator.free")
                          span#total-freeap --
                        div
                          p.mb-0= t("calculator.buy")
                          span#total-buyap --
                        hr
                        div
                          p.mb-0 Total
                          span#total-ap --
                  div.col-12.col-md-6.col-lg-4
                    div.result-container
                      p Battles
                      div
                        div
                          p.mb-0= t("calculator.free")
                          span#total-freebattles --
                        div
                          p.mb-0= t("calculator.buy")
                          span#total-buybattles --
                        hr
                        div
                          p.mb-0 Total
                          span#total-battles --
                  div.col-12.col-md-6.col-lg-4
                    div.result-container
                      p Devil Points
                      div
                        div
                          p.mb-0= t("calculator.ap")
                          span#total-ap-cost --
                        div
                          p.mb-0= t("calculator.battles")
                          span#total-battle-cost --
                        hr
                        div
                          p.mb-0 Total
                          span#total-dp --
              div#daily.tab-pane(role="tabpanel" aria-labelledby="daily-tab")
                div.text-center
                  p Today's goal
                  h5#goal --
                h5 Daily breakdown
                div.results.row.justify-content-center
                  div.col-12.col-md-6.col-lg-4
                    div.result-container
                      p AP
                      div
                        div
                          p.mb-0= t("calculator.free")
                          span#freeap --
                        div
                          p.mb-0= t("calculator.buy")
                          span#buyap --
                        hr
                        div
                          p.mb-0 Total
                          span#total-daily-ap --
                  div.col-12.col-md-6.col-lg-4
                    div.result-container
                      p Battles
                      div
                        div
                          p.mb-0= t("calculator.free")
                          span#freebattles --
                        div
                          p.mb-0= t("calculator.buy")
                          span#buybattles --
                        hr
                        div
                          p.mb-0 Total
                          span#total-daily-battles --
                  div.col-12.col-md-6.col-lg-4
                    div.result-container
                      p Devil Points
                      div
                        div
                          p.mb-0 AP
                          span#apcost --
                        div
                          p.mb-0 Battles
                          span#battlescost --
                        hr
                        div
                          p.mb-0 Total
                          span#total-daily-cost --
                //-
                  small.text-muted.text-center If you saved some AP and D-Energy, then you can use the
                    |
                    |
                    a(href='') akuzon calculator
                    |
                    | to find out how much less DP you need.
              div#additional.tab-pane(role="tabpanel" aria-labelledby="additional-tab")
                p If you don't want to follow the daily breakdown, here's how many battles you need to clear to get the additional
                  |
                  |
                  big.additionalpts
                  |
                  | points.
                div.table-responsive
                  table.table
                    <thead>
                      <tr>
                        th(scope="col")
                        th(scope="col")= t("calculator.ap")
                        th(scope="col")= t("calculator.battles")
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        th(scope="row") Non-boosting
                        td#ap-non-boosting --
                        td#battles-non-boosting --
                      </tr>
                      if data.boostingMultiplier > 1
                        <tr>
                          th(scope="row") Boosting
                          td#ap-boosting --
                          td#battles-boosting --
                        </tr>
                    </tbody>
          div.col-12.text-center
            hr
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdD-ALoHM2FH7z9B1gMpTjPn_wX0oRJV3dEyq4UrutIdUftuw/viewform?embedded=true" width="640" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      if !started()
        div.w-100.h-100.rounded(style="position:absolute;background:rgba(255,255,255,.8);")
          div.row.w-100.h-100.justify-content-center.align-items-center
            h5 Coming soon.
      if ended()
        div.w-100.h-100.rounded(style="position:absolute;background:rgba(255,255,255,.8);")
          div.row.w-100.h-100.justify-content-center.align-items-center
            h5 This event has ended.
    div.card.card-body.mt-3
      h5.card-title Disclaimer
      p.card-text Please use your own calculation if you believe Karasu's results are wrong! The website is not responsible for any loss you made. Please use at your own risk.
      h5.card-title Information
      p.card-text This calculator:
      ul
        li always round up its calculation.
        li can only be as accurate as your input.
        li considered boosting periods for the total and additional section. Daily section does not consider boosting, so the actual amount of resources you need to spend is less resources than what's listed there.
      p.card-text This calculator assumes that:
      ul
        li you get three-stars on every battle.
        li you have not cleared today's free battles.
        li you have not claimed your daily free AP, will use 200 AP from the 10DP flash sale, and spend all available "free" AP on this pop quiz.
      h5#note.card-title Notes
      p.card-text * Points per battle during non-boosting period.
      p.card-text ** Free points means the final amount of points you will have if you clear all free battles from now until the end of pop quiz, without spending a single DP/D-Energy on battles. If you do not want to spend anything on this pop quiz, then you can still get at least
        |
        |
        span#absfree --
        |
        | points at the end of pop quiz for absoluately free.
      h5.card-title Tips
      ul
        li If you have remaining battles and AP, use them all up before the next day begins.
        li Always purchase the daily flash sale that only cost 10 DP! If you purchase the flash sale, then you will need less DP than the calculated result.

  style.
    .results p {
      text-align: center;
    }
    .results .result-container {
      border-radius: 1rem;
      border: 2px solid var(--secondary);
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
    }
    .results .result-container>div>div {
      display: flex;
      justify-content: space-between;
    }
    .results hr {
      margin: .5rem 0;
      border: 1px solid var(--secondary);
    }
    #additional table td,
    #additional table thead th {
      text-align: center;
    }
    @media (min-width: 768px) {
      #pqinfo {
        border-right:1px solid #e5e5e5;
      }
    }
    a[data-toggle="collapse"][aria-expanded="false"] .bi.bi-chevron-up {
      transform: rotate(180deg);
    }
